Repository rlfrkdms1/Prog-rangers, pull requests merged in 2023-10, with the labels that each got.

#149 [FEAT] 내 풀이 목록 조회 기능
  backend/src/main/java/com/prograngers/backend/controller/SolutionController.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/ShowMySolutionListResponse.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/SolutionWithProblemForListResponse.java
  backend/src/main/java/com/prograngers/backend/entity/HashTag.java
  backend/src/main/java/com/prograngers/backend/entity/solution/AlgorithmConstant.java
  backend/src/main/java/com/prograngers/backend/entity/solution/DataStructureConstant.java
  backend/src/main/java/com/prograngers/backend/entity/solution/LanguageConstant.java
  backend/src/main/java/com/prograngers/backend/entity/solution/Solution.java
  backend/src/main/java/com/prograngers/backend/exception/unauthorization/IncorrectCodeInNaverLoginException.java
  backend/src/main/java/com/prograngers/backend/exception/unauthorization/IncorrectStateInNaverLoginException.java
  backend/src/main/java/com/prograngers/backend/repository/solution/SolutionCustomRepository.java
  backend/src/main/java/com/prograngers/backend/repository/solution/SolutionCustomRepositoryImpl.java
  backend/src/main/java/com/prograngers/backend/repository/solution/SolutionRepository.java
  backend/src/main/java/com/prograngers/backend/service/SolutionService.java
  backend/src/main/java/com/prograngers/backend/service/auth/AuthService.java
  backend/src/main/java/com/prograngers/backend/service/auth/oauth/NaverOauth.java
  backend/src/test/java/com/prograngers/backend/repository/likes/LikesRepositoryTest.java
  backend/src/test/java/com/prograngers/backend/repository/problem/ProblemRepositoryTest.java
  backend/src/test/java/com/prograngers/backend/repository/solution/SolutionRepositoryTest.java
  backend/src/test/java/com/prograngers/backend/service/CommentServiceTest.java
  backend/src/test/java/com/prograngers/backend/service/SolutionServiceTest.java
  backend/src/test/java/com/prograngers/backend/support/fixture/SolutionFixture.java
Labels: ➕ feat, 🌞 backend

#156 [FEAT] RE: 다른사람 프로필보기 & 대시보드 API 연동
  frontend/Prog-rangers-main/src/assets/icons/achieve-mark.svg
  frontend/Prog-rangers-main/src/assets/icons/github-mark.svg
  frontend/Prog-rangers-main/src/assets/icons/share-mark.svg
  frontend/Prog-rangers-main/src/components/Profile/CodeWindow.jsx
  frontend/Prog-rangers-main/src/components/Profile/SolvingList.jsx
  frontend/Prog-rangers-main/src/components/Profile/index.js
  frontend/Prog-rangers-main/src/pages/MyPage/MyPage.jsx
  frontend/Prog-rangers-main/src/pages/MyPage/MyPageStyle.js
  frontend/Prog-rangers-main/src/pages/Profile.jsx
  frontend/Prog-rangers-main/src/pages/Profile/MainBody.js
  frontend/Prog-rangers-main/src/pages/Profile/Profile.jsx
  frontend/Prog-rangers-main/src/pages/Profile/ProfileStyle.js
  frontend/Prog-rangers-main/src/pages/Profile/index.js
Labels: ➕ feat, 🌝 frontend

#157 [TEST] 풀이 테스트 코드 작성
  backend/src/main/java/com/prograngers/backend/dto/solution/reqeust/WriteSolutionRequest.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/ReviewWithRepliesResponse.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/ShowSolutionDetailResponse.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/SolutionDetailComment.java
  backend/src/main/java/com/prograngers/backend/repository/comment/CommentRepository.java
  backend/src/main/java/com/prograngers/backend/repository/problem/ProblemRepository.java
  backend/src/main/java/com/prograngers/backend/repository/review/ReviewRepository.java
  backend/src/main/java/com/prograngers/backend/repository/solution/SolutionCustomRepository.java
  backend/src/main/java/com/prograngers/backend/repository/solution/SolutionCustomRepositoryImpl.java
  backend/src/main/java/com/prograngers/backend/repository/solution/SolutionRepository.java
  backend/src/main/java/com/prograngers/backend/service/SolutionService.java
  backend/src/test/java/com/prograngers/backend/repository/solution/SolutionRepositoryTest.java
  backend/src/test/java/com/prograngers/backend/service/SolutionServiceTest.java
  backend/src/test/java/com/prograngers/backend/support/fixture/CommentFixture.java
  backend/src/test/java/com/prograngers/backend/support/fixture/ProblemFixture.java
  backend/src/test/java/com/prograngers/backend/support/fixture/ReviewFixture.java
  backend/src/test/java/com/prograngers/backend/support/fixture/SolutionFixture.java
Labels: ✅ test, 🌞 backend

#165 [FEAT] 계정관리 API 연동 + 내댓글 UI&API 연동
  backend/src/main/java/com/prograngers/backend/entity/comment/CommentStatusConStant.java
  frontend/Prog-rangers-main/package.json
  frontend/Prog-rangers-main/src/assets/icons/mypage-eye-closed.svg
  frontend/Prog-rangers-main/src/assets/icons/mypage-eye-open.svg
  frontend/Prog-rangers-main/src/components/Comment/CommentForm.jsx
  frontend/Prog-rangers-main/src/components/Comment/index.js
  frontend/Prog-rangers-main/src/components/Profile/CodeWindow.jsx
  frontend/Prog-rangers-main/src/components/Profile/github-dark-dimmed.css
  frontend/Prog-rangers-main/src/components/SideBar/SideBar.jsx
  frontend/Prog-rangers-main/src/index.js
  frontend/Prog-rangers-main/src/pages/Account/Account.jsx
  frontend/Prog-rangers-main/src/pages/Account/AccountChange.jsx
  frontend/Prog-rangers-main/src/pages/Account/AccountStyle.js
  frontend/Prog-rangers-main/src/pages/Account/ProfileApi.js
  frontend/Prog-rangers-main/src/pages/Follow.jsx
  frontend/Prog-rangers-main/src/pages/Like.jsx
  frontend/Prog-rangers-main/src/pages/Like/Like.jsx
  frontend/Prog-rangers-main/src/pages/Like/MainBody.js
  frontend/Prog-rangers-main/src/pages/MyComment.jsx
  frontend/Prog-rangers-main/src/pages/MyComment/MyComment.jsx
  frontend/Prog-rangers-main/src/pages/MySolution.jsx
  frontend/Prog-rangers-main/src/pages/index.js
  frontend/Prog-rangers-main/yarn.lock
Labels: ➕ feat, 🌝 frontend

#159 [FEAT] 대시보드 알림 무한스크롤 기능
  backend/src/main/java/com/prograngers/backend/controller/DashBoardController.java
  backend/src/main/java/com/prograngers/backend/controller/NotificationController.java
  backend/src/main/java/com/prograngers/backend/dto/dashboard/response/NotificationWithSolutionResponse.java
  backend/src/main/java/com/prograngers/backend/dto/dashboard/response/SolutionWithProblemResponse.java
  backend/src/main/java/com/prograngers/backend/dto/notification/response/ShowNotificationsResponse.java
  backend/src/main/java/com/prograngers/backend/entity/Notification.java
  backend/src/main/java/com/prograngers/backend/repository/notification/NotificationCustomRepository.java
  backend/src/main/java/com/prograngers/backend/repository/notification/NotificationCustomRepositoryImpl.java
  backend/src/main/java/com/prograngers/backend/repository/notification/NotificationRepository.java
  backend/src/main/java/com/prograngers/backend/repository/solution/SolutionCustomRepository.java
  backend/src/main/java/com/prograngers/backend/repository/solution/SolutionCustomRepositoryImpl.java
  backend/src/main/java/com/prograngers/backend/repository/solution/SolutionRepository.java
  backend/src/main/java/com/prograngers/backend/service/DashBoardService.java
  backend/src/main/java/com/prograngers/backend/service/NotificationService.java
  backend/src/test/java/com/prograngers/backend/repository/notification/NotificationRepositoryTest.java
  backend/src/test/java/com/prograngers/backend/repository/review/ReviewRepositoryTest.java
  backend/src/test/java/com/prograngers/backend/repository/solution/SolutionRepositoryTest.java
  backend/src/test/java/com/prograngers/backend/service/ReviewServiceTest.java
  backend/src/test/java/com/prograngers/backend/support/fixture/ReviewFixture.java
Labels: ➕ feat, 🌞 backend

#162 [FIX] 풀이 생성로직 수정
  backend/src/main/java/com/prograngers/backend/controller/SolutionController.java
  backend/src/main/java/com/prograngers/backend/dto/solution/reqeust/WriteSolutionRequest.java
  backend/src/main/java/com/prograngers/backend/entity/solution/Solution.java
  backend/src/main/java/com/prograngers/backend/service/SolutionService.java
  backend/src/test/java/com/prograngers/backend/service/SolutionServiceTest.java
Labels: 🐞 bug, ✅ test, 🌞 backend

#164 [FEAT] 팔로우 목록보기
  backend/src/main/java/com/prograngers/backend/controller/FollowController.java
  backend/src/main/java/com/prograngers/backend/dto/follow/response/MemberResponse.java
  backend/src/main/java/com/prograngers/backend/dto/follow/response/ShowFollowListResponse.java
  backend/src/main/java/com/prograngers/backend/repository/follow/FollowRepository.java
  backend/src/main/java/com/prograngers/backend/repository/member/MemberCustomRepository.java
  backend/src/main/java/com/prograngers/backend/repository/member/MemberCustomRepositoryImpl.java
  backend/src/main/java/com/prograngers/backend/repository/member/MemberRepository.java
  backend/src/main/java/com/prograngers/backend/repository/solution/SolutionCustomRepository.java
  backend/src/main/java/com/prograngers/backend/repository/solution/SolutionCustomRepositoryImpl.java
  backend/src/main/java/com/prograngers/backend/repository/solution/SolutionRepository.java
  backend/src/main/java/com/prograngers/backend/service/FollowService.java
  backend/src/test/java/com/prograngers/backend/repository/member/MemberRepositoryTest.java
  backend/src/test/java/com/prograngers/backend/service/FollowServiceTest.java
Labels: ➕ feat, ✅ test, 🌞 backend

#173 Feat/84 풀이 상세페이지 UI 디자인
  .DS_Store
  frontend/.DS_Store
  frontend/Prog-rangers-main/.github/ISSUE_TEMPLATE/feature.md
  frontend/Prog-rangers-main/README.md
  frontend/Prog-rangers-main/src/components/SolutionDetail/Comments.jsx
  frontend/Prog-rangers-main/src/components/SolutionDetail/Indicators.jsx
  frontend/Prog-rangers-main/src/components/SolutionDetail/LineReview.jsx
  frontend/Prog-rangers-main/src/components/SolutionDetail/MainData.jsx
  frontend/Prog-rangers-main/src/components/SolutionDetail/SolutionDetailHeader.jsx
  frontend/Prog-rangers-main/src/components/SolutionDetail/SolutionTab.jsx
  frontend/Prog-rangers-main/src/components/SolutionDetail/ViewSolution.jsx
  frontend/Prog-rangers-main/src/components/SolutionDetail/commentsStyle.js
  frontend/Prog-rangers-main/src/components/SolutionDetail/headerStyle.js
  frontend/Prog-rangers-main/src/components/SolutionDetail/index.js
  frontend/Prog-rangers-main/src/components/SolutionDetail/indicatorSytle.js
  frontend/Prog-rangers-main/src/components/SolutionDetail/profile/default.png
  frontend/Prog-rangers-main/src/components/SolutionDetail/solutionTabStyle.js
  frontend/Prog-rangers-main/src/components/SolutionDetail/tabIcons/afterC.svg
  frontend/Prog-rangers-main/src/components/SolutionDetail/tabIcons/beforeC.svg
  frontend/Prog-rangers-main/src/index.js
  frontend/Prog-rangers-main/src/pages/SolutionDetail.jsx
Labels: ➕ feat, 🎨 UI, 🌝 frontend

#176 [FEAT] 마이페이지 좋아요 페이지
  frontend/Prog-rangers-main/src/components/Comment/CommentForm.jsx
  frontend/Prog-rangers-main/src/components/Like/LikeList.jsx
  frontend/Prog-rangers-main/src/components/Like/index.js
  frontend/Prog-rangers-main/src/pages/Like/Like.jsx
Labels: ➕ feat, 🌝 frontend

#172 [FEAT] 뱃지 생성 기능
  backend/src/main/java/com/prograngers/backend/entity/badge/BadgeConstant.java
  backend/src/main/java/com/prograngers/backend/repository/solution/SolutionRepository.java
  backend/src/main/java/com/prograngers/backend/service/SolutionService.java
  backend/src/test/java/com/prograngers/backend/service/SolutionServiceTest.java
  backend/src/test/java/com/prograngers/backend/support/fixture/ReviewFixture.java
Labels: ➕ feat, ✅ test, 🌞 backend

#184 [FEAT] 작성 페이지 구현 - 풀이추가, 스크랩한 문제풀이, 작성페이지
  frontend/Prog-rangers-main/src/assets/icons/solution-filled-star.svg
  frontend/Prog-rangers-main/src/assets/icons/solution-private.svg
  frontend/Prog-rangers-main/src/assets/icons/solution-public.svg
  frontend/Prog-rangers-main/src/assets/icons/solution-tag-delete.svg
  frontend/Prog-rangers-main/src/assets/icons/solution-unfilled-star.svg
  frontend/Prog-rangers-main/src/components/FilterBar/FilterBar.jsx
  frontend/Prog-rangers-main/src/components/FilterBar/FilterBox.js
  frontend/Prog-rangers-main/src/components/Question/tagsform.js
  frontend/Prog-rangers-main/src/components/SignUp/ForSignUp.jsx
  frontend/Prog-rangers-main/src/components/WriteBoard/AddMySolution.jsx
  frontend/Prog-rangers-main/src/components/WriteBoard/EditMySolution.jsx
  frontend/Prog-rangers-main/src/components/WriteBoard/Register.jsx
  frontend/Prog-rangers-main/src/components/WriteBoard/ScrapBoard.jsx
  frontend/Prog-rangers-main/src/components/WriteBoard/TagAction.jsx
  frontend/Prog-rangers-main/src/components/WriteBoard/index.js
  frontend/Prog-rangers-main/src/components/WriteBoard/inputBox.js
  frontend/Prog-rangers-main/src/index.js
  frontend/Prog-rangers-main/src/pages/Auth/SignIn.jsx
  frontend/Prog-rangers-main/src/pages/BoardPage/AddSolution.jsx
  frontend/Prog-rangers-main/src/pages/BoardPage/EditSolution.jsx
  frontend/Prog-rangers-main/src/pages/BoardPage/Scrap.jsx
  frontend/Prog-rangers-main/src/pages/BoardPage/WriteSolution.jsx
  frontend/Prog-rangers-main/src/pages/BoardPage/buttonDiv.js
  frontend/Prog-rangers-main/src/pages/BoardPage/index.js
  frontend/Prog-rangers-main/src/pages/index.js
Labels: ➕ feat, 🌝 frontend
