Repository rlfrkdms1/Prog-rangers, pull requests merged in 2023-09, with the labels that each got.

#74 [FEAT] public 관련 기능 추가
  backend/src/main/java/com/prograngers/backend/controller/GlobalExceptionHandler.java
  backend/src/main/java/com/prograngers/backend/controller/ProblemController.java
  backend/src/main/java/com/prograngers/backend/dto/solution/reqeust/ScarpSolutionPostRequest.java
  backend/src/main/java/com/prograngers/backend/dto/solution/reqeust/SolutionPostRequest.java
  backend/src/main/java/com/prograngers/backend/entity/Follow.java
  backend/src/main/java/com/prograngers/backend/entity/Likes.java
  backend/src/main/java/com/prograngers/backend/entity/Review.java
  backend/src/main/java/com/prograngers/backend/entity/badge/Badge.java
  backend/src/main/java/com/prograngers/backend/entity/comment/Comment.java
  backend/src/main/java/com/prograngers/backend/entity/member/Member.java
  backend/src/main/java/com/prograngers/backend/entity/problem/Problem.java
  backend/src/main/java/com/prograngers/backend/entity/solution/Solution.java
  backend/src/main/java/com/prograngers/backend/exception/ErrorCode.java
  backend/src/main/java/com/prograngers/backend/exception/badrequest/PrivateSolutionException.java
  backend/src/main/java/com/prograngers/backend/repository/solution/QueryDslSolutionRepositoryImpl.java
  backend/src/main/java/com/prograngers/backend/service/CommentService.java
  backend/src/main/java/com/prograngers/backend/service/SolutionService.java
  backend/src/main/resources/db/migration/V1__init.sql
Labels: ➕ feat, 🌞 backend

#99 main 문제목록/ 풀이목록 스타일 통합
  frontend/Prog-rangers-main/src/components/FilterBar/FilterBar.jsx
  frontend/Prog-rangers-main/src/components/FilterBar/FilterBox.js
  frontend/Prog-rangers-main/src/components/Question/tagsform.js
  frontend/Prog-rangers-main/src/pages/Problems/Problems.jsx
  frontend/Prog-rangers-main/src/pages/Solutions/Solutions.jsx
  frontend/Prog-rangers-main/src/pages/Solutions/SolutionsStyle.js
Labels: 🎨 UI, 🌝 frontend

#87 일반 회원 가입 및 로그인 관련 테스트
  backend/.gitignore
  backend/src/main/java/com/prograngers/backend/controller/auth/AuthController.java
  backend/src/main/java/com/prograngers/backend/controller/auth/AuthInterceptor.java
  backend/src/main/java/com/prograngers/backend/dto/request/auth/LoginRequest.java
  backend/src/main/java/com/prograngers/backend/dto/request/auth/SignUpRequest.java
  backend/src/main/java/com/prograngers/backend/exception/ErrorCode.java
  backend/src/main/java/com/prograngers/backend/exception/unauthorization/InvalidClaimTypeException.java
  backend/src/main/java/com/prograngers/backend/service/MemberService.java
  backend/src/main/java/com/prograngers/backend/service/auth/AuthService.java
  backend/src/main/java/com/prograngers/backend/service/auth/JwtTokenProvider.java
  backend/src/test/java/com/prograngers/backend/fixture/MemberFixture.java
  backend/src/test/java/com/prograngers/backend/repository/problem/ProblemListProblemRepositoryTest.java
  backend/src/test/java/com/prograngers/backend/repository/solution/SolutionRepositoryTest.java
  backend/src/test/java/com/prograngers/backend/service/CommentServiceTest.java
  backend/src/test/java/com/prograngers/backend/service/SolutionListSolutionServiceTest.java
  backend/src/test/java/com/prograngers/backend/service/auth/AuthServiceTest.java
  backend/src/test/java/com/prograngers/backend/service/auth/FakeJwtTokenProvider.java
  backend/src/test/java/com/prograngers/backend/service/auth/JwtTokenProviderTest.java
  backend/src/test/java/com/prograngers/backend/support/RepositoryTest.java
  backend/src/test/java/com/prograngers/backend/support/fixture/CommentFixture.java
  backend/src/test/java/com/prograngers/backend/support/fixture/MemberFixture.java
  backend/src/test/java/com/prograngers/backend/support/fixture/ProblemFixture.java
  backend/src/test/java/com/prograngers/backend/support/fixture/SolutionFixture.java
  frontend/Prog-rangers-main/src/components/SignUp/SignUpForm.jsx
Labels: ✅ test, 🌞 backend

#101 [STYLE]: sprint 수정사항 반영
  frontend/Prog-rangers-main/src/components/FilterBar/FilterBox.js
  frontend/Prog-rangers-main/src/components/Question/tagsform.js
  frontend/Prog-rangers-main/src/pages/SignIn.jsx
Labels: ➕ feat, 🌝 frontend

#93 [FEAT] 알림 기능
  backend/src/main/java/com/prograngers/backend/controller/NotificationController.java
  backend/src/main/java/com/prograngers/backend/dto/response/notification/NotificationResponse.java
  backend/src/main/java/com/prograngers/backend/entity/Notification.java
  backend/src/main/java/com/prograngers/backend/entity/NotificationType.java
  backend/src/main/java/com/prograngers/backend/exception/ErrorCode.java
  backend/src/main/java/com/prograngers/backend/exception/ServerSentEventConnectException.java
  backend/src/main/java/com/prograngers/backend/exception/badrequest/InvalidNotificationTypeException.java
  backend/src/main/java/com/prograngers/backend/repository/CachedEventRepository.java
  backend/src/main/java/com/prograngers/backend/repository/NotificationRepository.java
  backend/src/main/java/com/prograngers/backend/repository/SseEmitterRepository.java
  backend/src/main/java/com/prograngers/backend/service/NotificationService.java
Labels: ➕ feat, 🌞 backend

#85 [Test] 테스트 코드 작성
  backend/src/main/java/com/prograngers/backend/dto/comment/request/CommentRequest.java
  backend/src/main/java/com/prograngers/backend/dto/solution/reqeust/SolutionPostRequest.java
  backend/src/main/java/com/prograngers/backend/service/CommentService.java
  backend/src/main/java/com/prograngers/backend/service/SolutionService.java
  backend/src/test/java/com/prograngers/backend/repository/follow/FollowRepositoryTest.java
  backend/src/test/java/com/prograngers/backend/repository/likes/LikesRepositoryTest.java
  backend/src/test/java/com/prograngers/backend/repository/problem/ProblemListProblemRepositoryTest.java
  backend/src/test/java/com/prograngers/backend/repository/solution/SolutionRepositoryTest.java
  backend/src/test/java/com/prograngers/backend/service/CommentServiceTest.java
  backend/src/test/java/com/prograngers/backend/service/SolutionListSolutionServiceTest.java
  backend/src/test/java/com/prograngers/backend/support/fixture/ProblemFixture.java
  backend/src/test/java/com/prograngers/backend/support/fixture/SolutionFixture.java
Labels: ✅ test, 🌞 backend

#112 [CHORE] 더미데이터 삽입
  backend/src/main/resources/db/migration/R__INSERT_COMMENT.sql
  backend/src/main/resources/db/migration/R__INSERT_MEMBER.SQL
  backend/src/main/resources/db/migration/R__INSERT_PROBLEM.sql
  backend/src/main/resources/db/migration/R__INSERT_REVIEW.sql
  backend/src/main/resources/db/migration/R__INSERT_SOLUTION.sql
  backend/src/main/resources/db/migration/V1__init.sql
Labels: ⚙ chore, 🌞 backend

#111 [REFACTOR] 프로젝트 리팩터링
  backend/gradlew.bat
  backend/src/main/java/com/prograngers/backend/controller/CommentController.java
  backend/src/main/java/com/prograngers/backend/controller/GlobalExceptionHandler.java
  backend/src/main/java/com/prograngers/backend/controller/LikesController.java
  backend/src/main/java/com/prograngers/backend/controller/ProblemController.java
  backend/src/main/java/com/prograngers/backend/controller/SolutionController.java
  backend/src/main/java/com/prograngers/backend/dto/comment/request/CommentPatchRequest.java
  backend/src/main/java/com/prograngers/backend/dto/comment/request/CommentRequest.java
  backend/src/main/java/com/prograngers/backend/dto/member/response/MemberProfileResponse.java
  backend/src/main/java/com/prograngers/backend/dto/review/response/SolutionLine.java
  backend/src/main/java/com/prograngers/backend/dto/review/response/SolutionReview.java
  backend/src/main/java/com/prograngers/backend/dto/review/response/SolutionReviewReply.java
  backend/src/main/java/com/prograngers/backend/dto/review/response/SolutionReviewsResponse.java
  backend/src/main/java/com/prograngers/backend/dto/solution/reqeust/ScarpSolutionPostRequest.java
  backend/src/main/java/com/prograngers/backend/dto/solution/reqeust/SolutionPatchRequest.java
  backend/src/main/java/com/prograngers/backend/dto/solution/reqeust/SolutionPostRequest.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/SolutionDetailComment.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/SolutionDetailResponse.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/SolutionListResponse.java
  backend/src/main/java/com/prograngers/backend/entity/Follow.java
  backend/src/main/java/com/prograngers/backend/entity/Review.java
  backend/src/main/java/com/prograngers/backend/entity/comment/Comment.java
  backend/src/main/java/com/prograngers/backend/entity/member/Member.java
  backend/src/main/java/com/prograngers/backend/entity/problem/Problem.java
  backend/src/main/java/com/prograngers/backend/entity/solution/AlgorithmConstant.java
  backend/src/main/java/com/prograngers/backend/entity/solution/DataStructureConstant.java
  backend/src/main/java/com/prograngers/backend/entity/solution/Solution.java
  backend/src/main/java/com/prograngers/backend/entity/sortconstant/SortConstant.java
  backend/src/main/java/com/prograngers/backend/repository/follow/QueryDslFollowRepositoryImpl.java
  backend/src/main/java/com/prograngers/backend/repository/likes/LikesRepository.java
  backend/src/main/java/com/prograngers/backend/repository/problem/QueryDslProblemRepository.java
  backend/src/main/java/com/prograngers/backend/repository/problem/QueryDslProblemRepositoryImpl.java
  backend/src/main/java/com/prograngers/backend/repository/review/ReviewRepository.java
  backend/src/main/java/com/prograngers/backend/repository/solution/QueryDslSolutionRepository.java
  backend/src/main/java/com/prograngers/backend/repository/solution/QueryDslSolutionRepositoryImpl.java
  backend/src/main/java/com/prograngers/backend/service/CommentService.java
  backend/src/main/java/com/prograngers/backend/service/LikesService.java
  backend/src/main/java/com/prograngers/backend/service/ProblemService.java
  backend/src/main/java/com/prograngers/backend/service/ReviewService.java
  backend/src/main/java/com/prograngers/backend/service/SolutionService.java
  backend/src/test/java/com/prograngers/backend/repository/problem/ProblemListProblemRepositoryTest.java
  backend/src/test/java/com/prograngers/backend/repository/solution/SolutionRepositoryTest.java
  backend/src/test/java/com/prograngers/backend/service/SolutionListSolutionServiceTest.java
Labels: ♻ refactor, 🌞 backend

#105 [TEST] 테스트 코드 수정
  backend/src/main/java/com/prograngers/backend/repository/follow/QueryDslFollowRepository.java
  backend/src/main/java/com/prograngers/backend/repository/follow/QueryDslFollowRepositoryImpl.java
  backend/src/main/java/com/prograngers/backend/repository/problem/QueryDslProblemRepositoryImpl.java
  backend/src/main/java/com/prograngers/backend/service/MemberService.java
  backend/src/main/java/com/prograngers/backend/service/SolutionService.java
  backend/src/test/java/com/prograngers/backend/repository/follow/FollowRepositoryTest.java
  backend/src/test/java/com/prograngers/backend/repository/likes/LikesRepositoryTest.java
  backend/src/test/java/com/prograngers/backend/repository/problem/ProblemRepositoryTest.java
  backend/src/test/java/com/prograngers/backend/repository/solution/SolutionRepositoryTest.java
  backend/src/test/java/com/prograngers/backend/service/CommentServiceTest.java
  backend/src/test/java/com/prograngers/backend/service/SolutionServiceTest.java
  backend/src/test/java/com/prograngers/backend/support/fixture/CommentFixture.java
  backend/src/test/java/com/prograngers/backend/support/fixture/SolutionFixture.java
Labels: ✅ test, 🌞 backend

#114 [CHORE] init.sql 수정
  backend/src/main/resources/db/migration/V1__init.sql
Labels: ⚙ chore, 🌞 backend

#115 [FEAT] 마이페이지 대시보드
  backend/src/main/java/com/prograngers/backend/controller/DashBoardController.java
  backend/src/main/java/com/prograngers/backend/controller/MemberController.java
  backend/src/main/java/com/prograngers/backend/dto/response/dashboard/IsDayOfStudy.java
  backend/src/main/java/com/prograngers/backend/dto/response/dashboard/NotificationInfo.java
  backend/src/main/java/com/prograngers/backend/dto/response/dashboard/ShowDashBoardResponse.java
  backend/src/main/java/com/prograngers/backend/dto/response/dashboard/SolutionInfo.java
  backend/src/main/java/com/prograngers/backend/dto/response/member/MemberAccountInfoResponse.java
  backend/src/main/java/com/prograngers/backend/dto/response/notification/NotificationResponse.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/SolutionDetailComment.java
  backend/src/main/java/com/prograngers/backend/entity/Follow.java
  backend/src/main/java/com/prograngers/backend/entity/Notification.java
  backend/src/main/java/com/prograngers/backend/entity/comment/Comment.java
  backend/src/main/java/com/prograngers/backend/entity/dashboard/MonthConstant.java
  backend/src/main/java/com/prograngers/backend/entity/member/Member.java
  backend/src/main/java/com/prograngers/backend/repository/NotificationRepository.java
  backend/src/main/java/com/prograngers/backend/repository/follow/QueryDslFollowRepositoryImpl.java
  backend/src/main/java/com/prograngers/backend/repository/review/ReviewRepository.java
  backend/src/main/java/com/prograngers/backend/repository/solution/SolutionRepository.java
  backend/src/main/java/com/prograngers/backend/service/DashBoardService.java
  backend/src/main/java/com/prograngers/backend/service/MemberService.java
  backend/src/main/java/com/prograngers/backend/service/NotificationService.java
  backend/src/main/resources/db/migration/V1__init.sql
Labels: ➕ feat, 🌞 backend

#119 [REFACTOR] 프로젝트 리팩터링
  backend/src/main/java/com/prograngers/backend/dto/review/response/SolutionReview.java
  backend/src/main/java/com/prograngers/backend/dto/solution/reqeust/SolutionPatchRequest.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/SolutionDetailComment.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/SolutionDetailResponse.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/SolutionDetailSolution.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/SolutionUpdateFormResponse.java
  backend/src/main/java/com/prograngers/backend/service/ReviewService.java
  backend/src/main/java/com/prograngers/backend/service/SolutionService.java
Labels: ♻ refactor, 🌞 backend

#117 [REFACTOR] 가독성을 위한 리팩터링
  backend/src/main/java/com/prograngers/backend/controller/CommentController.java
  backend/src/main/java/com/prograngers/backend/controller/LikesController.java
  backend/src/main/java/com/prograngers/backend/controller/MemberController.java
  backend/src/main/java/com/prograngers/backend/controller/ReviewController.java
  backend/src/main/java/com/prograngers/backend/controller/SolutionController.java
  backend/src/main/java/com/prograngers/backend/dto/member/response/MemberProfileProblemSolution.java
  backend/src/main/java/com/prograngers/backend/dto/member/response/MemberProfileResponse.java
  backend/src/main/java/com/prograngers/backend/dto/review/response/SolutionLine.java
  backend/src/main/java/com/prograngers/backend/dto/review/response/SolutionReview.java
  backend/src/main/java/com/prograngers/backend/dto/review/response/SolutionReviewReply.java
  backend/src/main/java/com/prograngers/backend/dto/review/response/SolutionReviewsResponse.java
  backend/src/main/java/com/prograngers/backend/dto/solution/reqeust/SolutionPostRequest.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/SolutionDetailComment.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/SolutionDetailResponse.java
  backend/src/main/java/com/prograngers/backend/entity/badge/BadgeConstant.java
  backend/src/main/java/com/prograngers/backend/service/CommentService.java
  backend/src/main/java/com/prograngers/backend/service/MemberService.java
  backend/src/main/java/com/prograngers/backend/service/ProblemService.java
  backend/src/main/java/com/prograngers/backend/service/ReviewService.java
  backend/src/main/java/com/prograngers/backend/service/SolutionService.java
  backend/src/main/resources/messages.properties
Labels: ♻ refactor, 🌞 backend

#127 [TEST] 대시보드 테스트
  backend/src/main/java/com/prograngers/backend/controller/DashBoardController.java
  backend/src/main/java/com/prograngers/backend/dto/response/member/MemberAccountInfoResponse.java
  backend/src/main/java/com/prograngers/backend/entity/dashboard/MonthConstant.java
  backend/src/main/java/com/prograngers/backend/repository/notification/CachedEventRepository.java
  backend/src/main/java/com/prograngers/backend/repository/notification/NotificationRepository.java
  backend/src/main/java/com/prograngers/backend/repository/notification/SseEmitterRepository.java
  backend/src/main/java/com/prograngers/backend/repository/review/ReviewRepository.java
  backend/src/main/java/com/prograngers/backend/repository/solution/SolutionRepository.java
  backend/src/main/java/com/prograngers/backend/service/DashBoardService.java
  backend/src/main/java/com/prograngers/backend/service/MemberService.java
  backend/src/main/java/com/prograngers/backend/service/NotificationService.java
  backend/src/test/java/com/prograngers/backend/repository/badge/BadgeRepositoryTest.java
  backend/src/test/java/com/prograngers/backend/repository/follow/FollowRepositoryTest.java
  backend/src/test/java/com/prograngers/backend/repository/likes/LikesRepositoryTest.java
  backend/src/test/java/com/prograngers/backend/repository/notification/NotificationRepositoryTest.java
  backend/src/test/java/com/prograngers/backend/repository/problem/ProblemRepositoryTest.java
  backend/src/test/java/com/prograngers/backend/repository/review/ReviewRepositoryTest.java
  backend/src/test/java/com/prograngers/backend/repository/solution/SolutionRepositoryTest.java
  backend/src/test/java/com/prograngers/backend/support/fixture/MemberFixture.java
  backend/src/test/java/com/prograngers/backend/support/fixture/NotificationFixture.java
  backend/src/test/java/com/prograngers/backend/support/fixture/ReviewFixture.java
  backend/src/test/java/com/prograngers/backend/support/fixture/SolutionFixture.java
Labels: ✅ test, 🌞 backend

#123 #103 마이페이지 대시보드 전체
  frontend/Prog-rangers-main/src/pages/MyPage.jsx
  frontend/Prog-rangers-main/src/pages/MyPage/MainBody.js
  frontend/Prog-rangers-main/src/pages/MyPage/MyPage.jsx
  frontend/Prog-rangers-main/src/pages/MyPage/MyPageStyle.js
  frontend/Prog-rangers-main/src/pages/MyPage/index.js
  frontend/Prog-rangers-main/src/pages/Solutions/Solutions.jsx
Labels: ➕ feat, 🌝 frontend

#131 [FEAT] 카카오 소셜로그인
  frontend/Prog-rangers-main/.gitignore
  frontend/Prog-rangers-main/src/App.js
  frontend/Prog-rangers-main/src/assets/icons/signin-arrow.svg
  frontend/Prog-rangers-main/src/assets/icons/signin-google-logo.svg
  frontend/Prog-rangers-main/src/assets/icons/signin-kakao-logo.svg
  frontend/Prog-rangers-main/src/assets/icons/signin-naver-logo.svg
  frontend/Prog-rangers-main/src/components/SignUp/ForSignUp.jsx
  frontend/Prog-rangers-main/src/components/SignUp/KakaoRedirect.jsx
  frontend/Prog-rangers-main/src/components/SignUp/OAuth.jsx
  frontend/Prog-rangers-main/src/components/SignUp/SocialLoginButtons.jsx
  frontend/Prog-rangers-main/src/components/SignUp/index.js
  frontend/Prog-rangers-main/src/index.js
  frontend/Prog-rangers-main/src/pages/Auth/SignIn.jsx
  frontend/Prog-rangers-main/src/pages/Auth/SignUp.jsx
  frontend/Prog-rangers-main/src/pages/Auth/index.js
  frontend/Prog-rangers-main/src/pages/index.js
Labels: ➕ feat, 🌝 frontend

#121 [FEAT] 리뷰 작성, 수정, 삭제 기능 개발
  backend/src/main/java/com/prograngers/backend/controller/CommentController.java
  backend/src/main/java/com/prograngers/backend/controller/LikesController.java
  backend/src/main/java/com/prograngers/backend/controller/ReviewController.java
  backend/src/main/java/com/prograngers/backend/controller/SolutionController.java
  backend/src/main/java/com/prograngers/backend/dto/review/request/ReviewPatchRequest.java
  backend/src/main/java/com/prograngers/backend/dto/review/request/ReviewPostRequest.java
  backend/src/main/java/com/prograngers/backend/dto/review/response/SolutionReview.java
  backend/src/main/java/com/prograngers/backend/dto/review/response/SolutionReviewReply.java
  backend/src/main/java/com/prograngers/backend/dto/solution/reqeust/SolutionPostRequest.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/SolutionDetailComment.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/SolutionDetailProblem.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/SolutionDetailResponse.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/SolutionDetailSolution.java
  backend/src/main/java/com/prograngers/backend/entity/Notification.java
  backend/src/main/java/com/prograngers/backend/entity/comment/Comment.java
  backend/src/main/java/com/prograngers/backend/entity/review/Review.java
  backend/src/main/java/com/prograngers/backend/entity/review/ReviewStatusConStant.java
  backend/src/main/java/com/prograngers/backend/exception/ErrorCode.java
  backend/src/main/java/com/prograngers/backend/exception/notfound/ReviewAlreadyDeletedException.java
  backend/src/main/java/com/prograngers/backend/exception/notfound/ReviewNotFoundException.java
  backend/src/main/java/com/prograngers/backend/repository/review/ReviewRepository.java
  backend/src/main/java/com/prograngers/backend/service/CommentService.java
  backend/src/main/java/com/prograngers/backend/service/LikesService.java
  backend/src/main/java/com/prograngers/backend/service/NotificationService.java
  backend/src/main/java/com/prograngers/backend/service/ProblemService.java
  backend/src/main/java/com/prograngers/backend/service/ReviewService.java
  backend/src/main/java/com/prograngers/backend/service/SolutionService.java
  backend/src/test/java/com/prograngers/backend/repository/follow/FollowRepositoryTest.java
  backend/src/test/java/com/prograngers/backend/service/ReviewServiceTest.java
  backend/src/test/java/com/prograngers/backend/service/SolutionServiceTest.java
  backend/src/test/java/com/prograngers/backend/support/fixture/ReviewFixture.java
Labels: ➕ feat, ✅ test, 🌞 backend

#133 [RELEASE] 배포로 인한 MAIN DEVELOP 브랜치 병합
  backend/src/main/java/com/prograngers/backend/config/WebConfig.java
  backend/src/main/java/com/prograngers/backend/controller/DashBoardController.java
  backend/src/main/java/com/prograngers/backend/controller/auth/AuthController.java
  backend/src/main/java/com/prograngers/backend/dto/response/member/MemberAccountInfoResponse.java
  backend/src/main/java/com/prograngers/backend/entity/dashboard/MonthConstant.java
  backend/src/main/java/com/prograngers/backend/repository/notification/CachedEventRepository.java
  backend/src/main/java/com/prograngers/backend/repository/notification/NotificationRepository.java
  backend/src/main/java/com/prograngers/backend/repository/notification/SseEmitterRepository.java
  backend/src/main/java/com/prograngers/backend/repository/review/ReviewRepository.java
  backend/src/main/java/com/prograngers/backend/repository/solution/SolutionRepository.java
  backend/src/main/java/com/prograngers/backend/service/DashBoardService.java
  backend/src/main/java/com/prograngers/backend/service/MemberService.java
  backend/src/main/java/com/prograngers/backend/service/NotificationService.java
  backend/src/main/java/com/prograngers/backend/service/auth/NicknameGenerator.java
  backend/src/main/java/com/prograngers/backend/service/auth/oauth/KakaoOauth.java
  backend/src/main/resources/static/index.html
  backend/src/test/java/com/prograngers/backend/repository/badge/BadgeRepositoryTest.java
  backend/src/test/java/com/prograngers/backend/repository/follow/FollowRepositoryTest.java
  backend/src/test/java/com/prograngers/backend/repository/likes/LikesRepositoryTest.java
  backend/src/test/java/com/prograngers/backend/repository/notification/NotificationRepositoryTest.java
  backend/src/test/java/com/prograngers/backend/repository/problem/ProblemRepositoryTest.java
  backend/src/test/java/com/prograngers/backend/repository/review/ReviewRepositoryTest.java
  backend/src/test/java/com/prograngers/backend/repository/solution/SolutionRepositoryTest.java
  backend/src/test/java/com/prograngers/backend/support/fixture/MemberFixture.java
  backend/src/test/java/com/prograngers/backend/support/fixture/NotificationFixture.java
  backend/src/test/java/com/prograngers/backend/support/fixture/ReviewFixture.java
  backend/src/test/java/com/prograngers/backend/support/fixture/SolutionFixture.java
Labels: ☁️ infra

#141 fix: API key 숨기기
  frontend/Prog-rangers-main/src/components/SignUp/OAuth.jsx
Labels: 🐞 bug

#136 [FEAT] 내 댓글 보기
  backend/src/main/java/com/prograngers/backend/controller/CommentController.java
  backend/src/main/java/com/prograngers/backend/controller/auth/RefreshCookieProvider.java
  backend/src/main/java/com/prograngers/backend/dto/comment/request/CommentRequest.java
  backend/src/main/java/com/prograngers/backend/dto/request/auth/SignUpRequest.java
  backend/src/main/java/com/prograngers/backend/dto/response/comment/CommentInfo.java
  backend/src/main/java/com/prograngers/backend/dto/response/comment/CommentWithSolutionInfo.java
  backend/src/main/java/com/prograngers/backend/dto/response/comment/ShowMyCommentsResponse.java
  backend/src/main/java/com/prograngers/backend/dto/response/comment/SolutionWithProblemInfo.java
  backend/src/main/java/com/prograngers/backend/dto/review/request/ReviewPatchRequest.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/SolutionDetailComment.java
  backend/src/main/java/com/prograngers/backend/entity/comment/Comment.java
  backend/src/main/java/com/prograngers/backend/entity/comment/CommentStatusConstant.java
  backend/src/main/java/com/prograngers/backend/entity/review/Review.java
  backend/src/main/java/com/prograngers/backend/exception/ErrorCode.java
  backend/src/main/java/com/prograngers/backend/exception/badrequest/InvalidPageNumberException.java
  backend/src/main/java/com/prograngers/backend/repository/comment/CommentRepository.java
  backend/src/main/java/com/prograngers/backend/repository/problem/QueryDslProblemRepositoryImpl.java
  backend/src/main/java/com/prograngers/backend/service/CommentService.java
  backend/src/main/java/com/prograngers/backend/service/auth/AuthService.java
  backend/src/test/java/com/prograngers/backend/repository/comment/CommentRepositoryTest.java
  backend/src/test/java/com/prograngers/backend/repository/notification/NotificationRepositoryTest.java
  backend/src/test/java/com/prograngers/backend/repository/review/ReviewRepositoryTest.java
  backend/src/test/java/com/prograngers/backend/service/CommentServiceTest.java
  backend/src/test/java/com/prograngers/backend/support/fixture/CommentFixture.java
  backend/src/test/java/com/prograngers/backend/support/fixture/NotificationFixture.java
  backend/src/test/java/com/prograngers/backend/support/fixture/ReviewFixture.java
Labels: ➕ feat, 🌞 backend

#147 [REFACTOR] 컨트롤러 수정
  backend/src/main/java/com/prograngers/backend/controller/CommentController.java
  backend/src/main/java/com/prograngers/backend/controller/LikesController.java
  backend/src/main/java/com/prograngers/backend/controller/MemberController.java
  backend/src/main/java/com/prograngers/backend/controller/ReviewController.java
  backend/src/main/java/com/prograngers/backend/controller/SolutionController.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/SolutionUpdateFormResponse.java
  backend/src/main/java/com/prograngers/backend/entity/member/Member.java
  backend/src/main/java/com/prograngers/backend/service/SolutionService.java
  backend/src/test/java/com/prograngers/backend/service/auth/AuthServiceTest.java
Labels: ♻ refactor, 🌞 backend

#145 [FEAT] 내 풀이 상세보기
  backend/gradlew.bat
  backend/src/main/java/com/prograngers/backend/controller/CommentController.java
  backend/src/main/java/com/prograngers/backend/controller/MemberController.java
  backend/src/main/java/com/prograngers/backend/controller/ProblemController.java
  backend/src/main/java/com/prograngers/backend/controller/ReviewController.java
  backend/src/main/java/com/prograngers/backend/controller/SolutionController.java
  backend/src/main/java/com/prograngers/backend/dto/auth/request/LoginRequest.java
  backend/src/main/java/com/prograngers/backend/dto/auth/request/SignUpRequest.java
  backend/src/main/java/com/prograngers/backend/dto/comment/request/UpdateCommentRequest.java
  backend/src/main/java/com/prograngers/backend/dto/comment/request/WriteCommentRequest.java
  backend/src/main/java/com/prograngers/backend/dto/member/response/ShowMemberProfileResponse.java
  backend/src/main/java/com/prograngers/backend/dto/member/response/SolutionWithProblemResponse.java
  backend/src/main/java/com/prograngers/backend/dto/problem/response/ProblemListProblem.java
  backend/src/main/java/com/prograngers/backend/dto/problem/response/ProblemListResponse.java
  backend/src/main/java/com/prograngers/backend/dto/problem/response/ShowProblemListResponse.java
  backend/src/main/java/com/prograngers/backend/dto/review/request/UpdateReviewRequest.java
  backend/src/main/java/com/prograngers/backend/dto/review/request/WriteReviewRequest.java
  backend/src/main/java/com/prograngers/backend/dto/review/response/CodeLineWithReview.java
  backend/src/main/java/com/prograngers/backend/dto/review/response/ReplyResponse.java
  backend/src/main/java/com/prograngers/backend/dto/review/response/ReviewWithRepliesResponse.java
  backend/src/main/java/com/prograngers/backend/dto/review/response/ShowReviewsResponse.java
  backend/src/main/java/com/prograngers/backend/dto/solution/reqeust/ScarpSolutionRequest.java
  backend/src/main/java/com/prograngers/backend/dto/solution/reqeust/UpdateSolutionRequest.java
  backend/src/main/java/com/prograngers/backend/dto/solution/reqeust/WriteSolutionRequest.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/CommentWithRepliesResponse.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/MySolutionResponse.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/ProblemResponse.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/RecommendedSolutionResponse.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/ReviewWithRepliesResponse.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/ShowMySolutionDetailResponse.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/ShowSolutionDetailResponse.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/ShowSolutionUpdateFormResponse.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/SolutionAtSolutionListResponse.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/SolutionDetailProblem.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/SolutionDetailResponse.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/SolutionListResponse.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/SolutionResponse.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/SolutionTitleAndIdResponse.java
  backend/src/main/java/com/prograngers/backend/entity/comment/Comment.java
  backend/src/main/java/com/prograngers/backend/entity/member/Member.java
  backend/src/main/java/com/prograngers/backend/entity/problem/Problem.java
  backend/src/main/java/com/prograngers/backend/entity/review/Review.java
  backend/src/main/java/com/prograngers/backend/repository/likes/LikesRepository.java
  backend/src/main/java/com/prograngers/backend/repository/solution/QueryDslSolutionRepository.java
  backend/src/main/java/com/prograngers/backend/repository/solution/QueryDslSolutionRepositoryImpl.java
  backend/src/main/java/com/prograngers/backend/repository/solution/SolutionRepository.java
  backend/src/main/java/com/prograngers/backend/service/CommentService.java
  backend/src/main/java/com/prograngers/backend/service/MemberService.java
  backend/src/main/java/com/prograngers/backend/service/ProblemService.java
  backend/src/main/java/com/prograngers/backend/service/ReviewService.java
  backend/src/main/java/com/prograngers/backend/service/SolutionService.java
  backend/src/main/resources/db/migration/V1__init.sql
  backend/src/test/java/com/prograngers/backend/repository/solution/SolutionRepositoryTest.java
  backend/src/test/java/com/prograngers/backend/service/CommentServiceTest.java
  backend/src/test/java/com/prograngers/backend/service/ReviewServiceTest.java
  backend/src/test/java/com/prograngers/backend/service/SolutionServiceTest.java
  backend/src/test/java/com/prograngers/backend/support/fixture/SolutionFixture.java
  frontend/Prog-rangers-main/src/App.js
Labels: ➕ feat, 🌞 backend

#148 [REFACTOR] 컨트롤러 수정, 스크랩 dto 수정
  backend/src/main/java/com/prograngers/backend/controller/ProblemController.java
  backend/src/main/java/com/prograngers/backend/controller/SolutionController.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/SolutionResponse.java
  backend/src/main/java/com/prograngers/backend/service/SolutionService.java
Labels: ♻ refactor, 🌞 backend
