Repository rlfrkdms1/Prog-rangers, pull requests merged in 2023-12, with the labels that each got.

#221 [FEAT] 탈퇴한 회원의 프로필에 접근할 수 없게 하는 기능
  backend/src/main/java/com/prograngers/backend/controller/MemberController.java
  backend/src/main/java/com/prograngers/backend/dto/member/response/ShowMemberProfileResponse.java
  backend/src/main/java/com/prograngers/backend/service/MemberService.java
  backend/src/test/java/com/prograngers/backend/service/MemberServiceTest.java
Labels: ➕ feat, ✅ test, 🌞 backend

#229 [FEAT] 응답에 id 추가
  backend/src/main/java/com/prograngers/backend/dto/problem/response/ProblemListResponse.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/ShowSolutionListResponse.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/SolutionAtSolutionListResponse.java
  backend/src/test/java/com/prograngers/backend/service/SolutionServiceTest.java
Labels: ➕ feat, 🌞 backend

#230 [RELEASE] 스프린트 8 마무리 배포
  backend/src/main/java/com/prograngers/backend/controller/CommentController.java
  backend/src/main/java/com/prograngers/backend/controller/LikesController.java
  backend/src/main/java/com/prograngers/backend/controller/NotificationController.java
  backend/src/main/java/com/prograngers/backend/controller/ProblemController.java
  backend/src/main/java/com/prograngers/backend/controller/SolutionController.java
  backend/src/main/java/com/prograngers/backend/dto/problem/response/ProblemListResponse.java
  backend/src/main/java/com/prograngers/backend/dto/problem/response/ShowProblemListResponse.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/ShowMySolutionListResponse.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/ShowSolutionListResponse.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/SolutionAtSolutionListResponse.java
  backend/src/main/java/com/prograngers/backend/exception/ErrorCode.java
  backend/src/main/java/com/prograngers/backend/exception/badrequest/InvalidPageSizeException.java
  backend/src/main/java/com/prograngers/backend/service/CommentService.java
  backend/src/main/java/com/prograngers/backend/service/NotificationService.java
  backend/src/main/java/com/prograngers/backend/service/ProblemService.java
  backend/src/main/java/com/prograngers/backend/service/SolutionService.java
  backend/src/test/java/com/prograngers/backend/service/SolutionServiceTest.java
  frontend/Prog-rangers-main/src/components/Header/Header.jsx
Labels: ☁️ infra, 🌞 backend

#231 [FEAT] 문제,풀이 페이지 & 코드스플리팅
  frontend/Prog-rangers-main/package.json
  frontend/Prog-rangers-main/src/apis/signin.js
  frontend/Prog-rangers-main/src/components/Comment/CommentForm.jsx
  frontend/Prog-rangers-main/src/components/Follow/Follower.jsx
  frontend/Prog-rangers-main/src/components/Follow/Following.jsx
  frontend/Prog-rangers-main/src/components/Follow/RecommendFollow.jsx
  frontend/Prog-rangers-main/src/components/Like/LikeList.jsx
  frontend/Prog-rangers-main/src/components/Like/LikeStyle.js
  frontend/Prog-rangers-main/src/components/Question/QuestionForm.jsx
  frontend/Prog-rangers-main/src/components/Solving/QSolving.jsx
  frontend/Prog-rangers-main/src/index.js
  frontend/Prog-rangers-main/src/pages/Account/Account.jsx
  frontend/Prog-rangers-main/src/pages/Account/AccountChange.jsx
  frontend/Prog-rangers-main/src/pages/Auth/SignIn.jsx
  frontend/Prog-rangers-main/src/pages/Auth/SignUp.jsx
  frontend/Prog-rangers-main/src/pages/Auth/index.js
  frontend/Prog-rangers-main/src/pages/BoardPage/AddSolution.jsx
  frontend/Prog-rangers-main/src/pages/BoardPage/EditSolution.jsx
  frontend/Prog-rangers-main/src/pages/BoardPage/Scrap.jsx
  frontend/Prog-rangers-main/src/pages/BoardPage/WriteSolution.jsx
  frontend/Prog-rangers-main/src/pages/BoardPage/index.js
  frontend/Prog-rangers-main/src/pages/Follow/Follow.jsx
  frontend/Prog-rangers-main/src/pages/Like/Like.jsx
  frontend/Prog-rangers-main/src/pages/MainPage/MainPage.jsx
  frontend/Prog-rangers-main/src/pages/MainPage/index.js
  frontend/Prog-rangers-main/src/pages/MyComment/MyComment.jsx
  frontend/Prog-rangers-main/src/pages/MyPage/MyPage.jsx
  frontend/Prog-rangers-main/src/pages/MyPage/index.js
  frontend/Prog-rangers-main/src/pages/MySolution/MySolution.jsx
  frontend/Prog-rangers-main/src/pages/MySolution/index.js
  frontend/Prog-rangers-main/src/pages/MySolutionDetail.jsx
  frontend/Prog-rangers-main/src/pages/NotFound.jsx
  frontend/Prog-rangers-main/src/pages/Problems/Problems.jsx
  frontend/Prog-rangers-main/src/pages/Problems/index.js
  frontend/Prog-rangers-main/src/pages/Profile/Profile.jsx
  frontend/Prog-rangers-main/src/pages/Profile/index.js
  frontend/Prog-rangers-main/src/pages/SolutionDetail.jsx
  frontend/Prog-rangers-main/src/pages/Solutions/Solutions.jsx
  frontend/Prog-rangers-main/src/pages/Solutions/index.js
  frontend/Prog-rangers-main/src/pages/index.js
  frontend/Prog-rangers-main/yarn.lock
Labels: ➕ feat, 🌝 frontend

#234 fix/232-header&main-image-change
  .DS_Store
  .gitignore
  frontend/.DS_Store
  frontend/Prog-rangers-main/src/assets/main-sec3-2.jpg
  frontend/Prog-rangers-main/src/assets/main-sec3-2.png
  frontend/Prog-rangers-main/src/components/Header/AfterLoginNav.jsx
  frontend/Prog-rangers-main/src/pages/MainPage/MainPage.jsx
Labels: 🌝 frontend

#235 [FEAT] #217 필터기능구현
  frontend/Prog-rangers-main/src/components/Comment/CommentForm.jsx
  frontend/Prog-rangers-main/src/components/FilterBar/FilterBar.jsx
  frontend/Prog-rangers-main/src/components/FilterBar/FilterBar2.jsx
  frontend/Prog-rangers-main/src/components/MySolutionDetail/MySolHeader.jsx
  frontend/Prog-rangers-main/src/components/SolutionDetail/SolutionDetailHeader.jsx
  frontend/Prog-rangers-main/src/db/autocomplete.json
  frontend/Prog-rangers-main/src/index.js
  frontend/Prog-rangers-main/src/pages/Auth/index.js
  frontend/Prog-rangers-main/src/pages/BoardPage/index.js
  frontend/Prog-rangers-main/src/pages/MainPage/index.js
  frontend/Prog-rangers-main/src/pages/MyPage/MyPage.jsx
  frontend/Prog-rangers-main/src/pages/MyPage/index.js
  frontend/Prog-rangers-main/src/pages/MySolution/MySolution.jsx
  frontend/Prog-rangers-main/src/pages/MySolution/index.js
  frontend/Prog-rangers-main/src/pages/Problems/Problems.jsx
  frontend/Prog-rangers-main/src/pages/Problems/index.js
  frontend/Prog-rangers-main/src/pages/Profile/Profile.jsx
  frontend/Prog-rangers-main/src/pages/Profile/ProfileStyle.js
  frontend/Prog-rangers-main/src/pages/Profile/index.js
  frontend/Prog-rangers-main/src/pages/Solutions/index.js
  frontend/Prog-rangers-main/src/pages/index.js
Labels: ➕ feat, 🌝 frontend

#241 [REFACTOR] 프론트엔드 components, context 코드 리팩토링
  frontend/Prog-rangers-main/src/components/FilterBar/FilterBar.jsx
  frontend/Prog-rangers-main/src/components/Follow/Follower.jsx
  frontend/Prog-rangers-main/src/components/Header/AfterLoginNav.jsx
  frontend/Prog-rangers-main/src/components/Header/BeforeLoginNav.jsx
  frontend/Prog-rangers-main/src/components/MySolutionDetail/MySolHeader.jsx
  frontend/Prog-rangers-main/src/components/MySolutionDetail/RightBar.jsx
  frontend/Prog-rangers-main/src/components/Pagination/Pagination.jsx
  frontend/Prog-rangers-main/src/components/Profile/CodeWindow3.jsx
  frontend/Prog-rangers-main/src/components/Profile/CodeWindow4.jsx
  frontend/Prog-rangers-main/src/components/Profile/SolvingList.jsx
  frontend/Prog-rangers-main/src/components/SideBar/SideBar.jsx
  frontend/Prog-rangers-main/src/components/SignIn/DefaultSignInForm.jsx
  frontend/Prog-rangers-main/src/components/SignUp/GoogleRedirect.jsx
  frontend/Prog-rangers-main/src/components/SignUp/KakaoRedirect.jsx
  frontend/Prog-rangers-main/src/components/SignUp/NaverRedirect.jsx
  frontend/Prog-rangers-main/src/components/SolutionDetail/CommentList.jsx
  frontend/Prog-rangers-main/src/components/SolutionDetail/CommentReplyForm.jsx
  frontend/Prog-rangers-main/src/components/SolutionDetail/solutionTabStyle.js
  frontend/Prog-rangers-main/src/components/WriteBoard/AddMySolution.jsx
  frontend/Prog-rangers-main/src/components/WriteBoard/EditMySolution.jsx
  frontend/Prog-rangers-main/src/components/WriteBoard/ScrapBoard.jsx
  frontend/Prog-rangers-main/src/components/WriteBoard/TagAction.jsx
  frontend/Prog-rangers-main/src/context/AuthContext.js
Labels: ♻ refactor, 🌝 frontend

#242 refactor: 불필요한 코드 제거
  frontend/Prog-rangers-main/src/pages/Account/Account.jsx
  frontend/Prog-rangers-main/src/pages/Account/AccountChange.jsx
  frontend/Prog-rangers-main/src/pages/Auth/SignIn.jsx
  frontend/Prog-rangers-main/src/pages/BoardPage/AddSolution.jsx
  frontend/Prog-rangers-main/src/pages/BoardPage/EditSolution.jsx
  frontend/Prog-rangers-main/src/pages/BoardPage/Scrap.jsx
  frontend/Prog-rangers-main/src/pages/BoardPage/WriteSolution.jsx
  frontend/Prog-rangers-main/src/pages/Follow/Follow.jsx
  frontend/Prog-rangers-main/src/pages/Like/Like.jsx
  frontend/Prog-rangers-main/src/pages/MyComment/MyComment.jsx
  frontend/Prog-rangers-main/src/pages/Problems/Problems.jsx
  frontend/Prog-rangers-main/src/pages/Profile/Profile.jsx
Labels: ♻ refactor, 🌝 frontend

#245 Fix/244 배포 후 오류 수정
  frontend/Prog-rangers-main/package.json
  frontend/Prog-rangers-main/src/App.js
  frontend/Prog-rangers-main/src/apis/signin.js
  frontend/Prog-rangers-main/src/apis/singup.js
  frontend/Prog-rangers-main/src/components/Comment/CommentForm.jsx
  frontend/Prog-rangers-main/src/components/Follow/Follower.jsx
  frontend/Prog-rangers-main/src/components/Follow/Following.jsx
  frontend/Prog-rangers-main/src/components/Follow/RecommendFollow.jsx
  frontend/Prog-rangers-main/src/components/Header/BeforeLoginNav.jsx
  frontend/Prog-rangers-main/src/components/Header/Header.jsx
  frontend/Prog-rangers-main/src/components/Like/LikeList.jsx
  frontend/Prog-rangers-main/src/components/MyPage/InfoList.jsx
  frontend/Prog-rangers-main/src/components/MySolutionDetail/MyComments.jsx
  frontend/Prog-rangers-main/src/components/MySolutionDetail/MyIndicators.jsx
  frontend/Prog-rangers-main/src/components/MySolutionDetail/MyLineReview.jsx
  frontend/Prog-rangers-main/src/components/MySolutionDetail/MySolHeader.jsx
  frontend/Prog-rangers-main/src/components/MySolutionDetail/MySolView.jsx
  frontend/Prog-rangers-main/src/components/MySolutionDetail/Recommand.jsx
  frontend/Prog-rangers-main/src/components/MySolutionDetail/RightBar.jsx
  frontend/Prog-rangers-main/src/components/MySolutionDetail/index.js
  frontend/Prog-rangers-main/src/components/Profile/CodeWindow.jsx
  frontend/Prog-rangers-main/src/components/Profile/CodeWindow2.jsx
  frontend/Prog-rangers-main/src/components/Profile/CodeWindow3.jsx
  frontend/Prog-rangers-main/src/components/Profile/CodeWindow4.jsx
  frontend/Prog-rangers-main/src/components/Profile/SolvingList.jsx
  frontend/Prog-rangers-main/src/components/Profile/github-dark-dimmed.css
  frontend/Prog-rangers-main/src/components/SignUp/ForSignUp.jsx
  frontend/Prog-rangers-main/src/components/SignUp/GoogleRedirect.jsx
  frontend/Prog-rangers-main/src/components/SignUp/KakaoRedirect.jsx
  frontend/Prog-rangers-main/src/components/SignUp/NaverRedirect.jsx
  frontend/Prog-rangers-main/src/components/SolutionDetail/CommentForm.jsx
  frontend/Prog-rangers-main/src/components/SolutionDetail/CommentList.jsx
  frontend/Prog-rangers-main/src/components/SolutionDetail/CommentReplyForm.jsx
  frontend/Prog-rangers-main/src/components/SolutionDetail/Comments.jsx
  frontend/Prog-rangers-main/src/components/SolutionDetail/Indicators.jsx
  frontend/Prog-rangers-main/src/components/SolutionDetail/LineReview.jsx
  frontend/Prog-rangers-main/src/components/SolutionDetail/SolutionDetailHeader.jsx
  frontend/Prog-rangers-main/src/components/SolutionDetail/ViewSolution.jsx
  frontend/Prog-rangers-main/src/components/SolutionDetail/index.js
  frontend/Prog-rangers-main/src/components/WriteBoard/EditMySolution.jsx
  frontend/Prog-rangers-main/src/components/WriteBoard/ScrapBoard.jsx
  frontend/Prog-rangers-main/src/pages/Account/Account.jsx
  frontend/Prog-rangers-main/src/pages/Account/AccountChange.jsx
  frontend/Prog-rangers-main/src/pages/BoardPage/AddSolution.jsx
  frontend/Prog-rangers-main/src/pages/BoardPage/WriteSolution.jsx
  frontend/Prog-rangers-main/src/pages/MyPage/MyPage.jsx
  frontend/Prog-rangers-main/src/pages/MySolution/MySolution.jsx
  frontend/Prog-rangers-main/src/pages/Problems/Problems.jsx
  frontend/Prog-rangers-main/src/pages/Profile/Profile.jsx
  frontend/Prog-rangers-main/src/pages/Solutions/Solutions.jsx
Labels: 🐞 bug, 🌝 frontend

#246 Develop
  frontend/Prog-rangers-main/package.json
  frontend/Prog-rangers-main/src/App.js
  frontend/Prog-rangers-main/src/apis/signin.js
  frontend/Prog-rangers-main/src/apis/singup.js
  frontend/Prog-rangers-main/src/components/Comment/CommentForm.jsx
  frontend/Prog-rangers-main/src/components/Follow/Follower.jsx
  frontend/Prog-rangers-main/src/components/Follow/Following.jsx
  frontend/Prog-rangers-main/src/components/Follow/RecommendFollow.jsx
  frontend/Prog-rangers-main/src/components/Header/BeforeLoginNav.jsx
  frontend/Prog-rangers-main/src/components/Header/Header.jsx
  frontend/Prog-rangers-main/src/components/Like/LikeList.jsx
  frontend/Prog-rangers-main/src/components/MyPage/InfoList.jsx
  frontend/Prog-rangers-main/src/components/MySolutionDetail/MyComments.jsx
  frontend/Prog-rangers-main/src/components/MySolutionDetail/MyIndicators.jsx
  frontend/Prog-rangers-main/src/components/MySolutionDetail/MyLineReview.jsx
  frontend/Prog-rangers-main/src/components/MySolutionDetail/MySolHeader.jsx
  frontend/Prog-rangers-main/src/components/MySolutionDetail/MySolView.jsx
  frontend/Prog-rangers-main/src/components/MySolutionDetail/Recommand.jsx
  frontend/Prog-rangers-main/src/components/MySolutionDetail/RightBar.jsx
  frontend/Prog-rangers-main/src/components/MySolutionDetail/index.js
  frontend/Prog-rangers-main/src/components/Profile/CodeWindow.jsx
  frontend/Prog-rangers-main/src/components/Profile/CodeWindow2.jsx
  frontend/Prog-rangers-main/src/components/Profile/CodeWindow3.jsx
  frontend/Prog-rangers-main/src/components/Profile/CodeWindow4.jsx
  frontend/Prog-rangers-main/src/components/Profile/SolvingList.jsx
  frontend/Prog-rangers-main/src/components/Profile/github-dark-dimmed.css
  frontend/Prog-rangers-main/src/components/SignUp/ForSignUp.jsx
  frontend/Prog-rangers-main/src/components/SignUp/GoogleRedirect.jsx
  frontend/Prog-rangers-main/src/components/SignUp/KakaoRedirect.jsx
  frontend/Prog-rangers-main/src/components/SignUp/NaverRedirect.jsx
  frontend/Prog-rangers-main/src/components/SolutionDetail/CommentForm.jsx
  frontend/Prog-rangers-main/src/components/SolutionDetail/CommentList.jsx
  frontend/Prog-rangers-main/src/components/SolutionDetail/CommentReplyForm.jsx
  frontend/Prog-rangers-main/src/components/SolutionDetail/Comments.jsx
  frontend/Prog-rangers-main/src/components/SolutionDetail/Indicators.jsx
  frontend/Prog-rangers-main/src/components/SolutionDetail/LineReview.jsx
  frontend/Prog-rangers-main/src/components/SolutionDetail/SolutionDetailHeader.jsx
  frontend/Prog-rangers-main/src/components/SolutionDetail/ViewSolution.jsx
  frontend/Prog-rangers-main/src/components/SolutionDetail/index.js
  frontend/Prog-rangers-main/src/components/WriteBoard/EditMySolution.jsx
  frontend/Prog-rangers-main/src/components/WriteBoard/ScrapBoard.jsx
  frontend/Prog-rangers-main/src/pages/Account/Account.jsx
  frontend/Prog-rangers-main/src/pages/Account/AccountChange.jsx
  frontend/Prog-rangers-main/src/pages/BoardPage/AddSolution.jsx
  frontend/Prog-rangers-main/src/pages/BoardPage/WriteSolution.jsx
  frontend/Prog-rangers-main/src/pages/MyPage/MyPage.jsx
  frontend/Prog-rangers-main/src/pages/MySolution/MySolution.jsx
  frontend/Prog-rangers-main/src/pages/Problems/Problems.jsx
  frontend/Prog-rangers-main/src/pages/Profile/Profile.jsx
  frontend/Prog-rangers-main/src/pages/Solutions/Solutions.jsx
Labels: 🌝 frontend

#249 Fix/244 배포 후 오류 수정
  frontend/Prog-rangers-main/src/assets/main-sec3-2.png
  frontend/Prog-rangers-main/src/components/SignUp/ForSignUp.jsx
  frontend/Prog-rangers-main/src/index.css
Labels: 🐞 bug, 🌝 frontend

#250 오류 수정 후 재배포
  frontend/Prog-rangers-main/src/assets/main-sec3-2.png
  frontend/Prog-rangers-main/src/components/SignUp/ForSignUp.jsx
  frontend/Prog-rangers-main/src/index.css
Labels: 🌝 frontend

#252 [FIX] #237 프론트엔드 오류 수정
  backend/src/main/java/com/prograngers/backend/config/WebConfig.java
  frontend/Prog-rangers-main/src/components/MyPage/InfoList.jsx
  frontend/Prog-rangers-main/src/components/MySolutionDetail/MySolHeader.jsx
  frontend/Prog-rangers-main/src/components/WriteBoard/ScrapBoard.jsx
  frontend/Prog-rangers-main/src/pages/MySolution/MainBody.js
  frontend/Prog-rangers-main/src/pages/MySolution/MySolution.jsx
  frontend/Prog-rangers-main/src/pages/Problems/Problems.jsx
Labels: 🐞 bug, 🌝 frontend

#253 프론트엔드 오류 수정 후 재배포
  backend/src/main/java/com/prograngers/backend/config/WebConfig.java
  frontend/Prog-rangers-main/src/components/MyPage/InfoList.jsx
  frontend/Prog-rangers-main/src/components/MySolutionDetail/MySolHeader.jsx
  frontend/Prog-rangers-main/src/components/WriteBoard/ScrapBoard.jsx
  frontend/Prog-rangers-main/src/pages/MySolution/MainBody.js
  frontend/Prog-rangers-main/src/pages/MySolution/MySolution.jsx
  frontend/Prog-rangers-main/src/pages/Problems/Problems.jsx
Labels: 🌝 frontend

#227 [TEST] 도메인 유닛 테스트 작성
  backend/src/main/java/com/prograngers/backend/dto/solution/reqeust/UpdateSolutionRequest.java
  backend/src/main/java/com/prograngers/backend/entity/badge/BadgeConstant.java
  backend/src/main/java/com/prograngers/backend/entity/comment/Comment.java
  backend/src/main/java/com/prograngers/backend/entity/member/Member.java
  backend/src/main/java/com/prograngers/backend/entity/review/Review.java
  backend/src/main/java/com/prograngers/backend/entity/solution/Solution.java
  backend/src/main/java/com/prograngers/backend/repository/follow/QueryDslFollowRepository.java
  backend/src/main/java/com/prograngers/backend/repository/follow/QueryDslFollowRepositoryImpl.java
  backend/src/main/java/com/prograngers/backend/service/MemberService.java
  backend/src/main/java/com/prograngers/backend/service/SolutionService.java
  backend/src/test/java/com/prograngers/backend/entity/badge/BadgeConstantTest.java
  backend/src/test/java/com/prograngers/backend/entity/comment/CommentTest.java
  backend/src/test/java/com/prograngers/backend/entity/member/MemberTest.java
  backend/src/test/java/com/prograngers/backend/entity/review/ReviewTest.java
  backend/src/test/java/com/prograngers/backend/entity/solution/AlgorithmConstantTest.java
  backend/src/test/java/com/prograngers/backend/entity/solution/DataStructureConstantTest.java
  backend/src/test/java/com/prograngers/backend/entity/solution/LanguageConstantTest.java
  backend/src/test/java/com/prograngers/backend/entity/solution/SolutionTest.java
  backend/src/test/java/com/prograngers/backend/repository/follow/FollowRepositoryTest.java
  backend/src/test/java/com/prograngers/backend/service/MemberServiceTest.java
  backend/src/test/java/com/prograngers/backend/support/fixture/CommentFixture.java
  backend/src/test/java/com/prograngers/backend/support/fixture/ReviewFixture.java
  backend/src/test/java/com/prograngers/backend/support/fixture/SolutionFixture.java
Labels: ✅ test, 🌞 backend

#248 [FIX] 풀이 응답에 공개 여부 필드 추가
  backend/src/main/java/com/prograngers/backend/dto/solution/response/MySolutionResponse.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/SolutionResponse.java
  backend/src/main/java/com/prograngers/backend/service/SolutionService.java
  backend/src/main/resources/db/migration/V1__init.sql
  backend/src/test/java/com/prograngers/backend/service/SolutionServiceTest.java
Labels: 🐞 bug, 🌞 backend
