Repository rlfrkdms1/Prog-rangers, pull requests merged in 2023-11, with the labels that each got.

#188 [FEAT] 계정 탈퇴 및 버그 수정
  backend/src/main/java/com/prograngers/backend/controller/CommentController.java
  backend/src/main/java/com/prograngers/backend/controller/DashBoardController.java
  backend/src/main/java/com/prograngers/backend/controller/FollowController.java
  backend/src/main/java/com/prograngers/backend/controller/LikesController.java
  backend/src/main/java/com/prograngers/backend/controller/MemberController.java
  backend/src/main/java/com/prograngers/backend/controller/SolutionController.java
  backend/src/main/java/com/prograngers/backend/dto/member/response/ShowBasicMemberAccountResponse.java
  backend/src/main/java/com/prograngers/backend/dto/member/response/ShowMemberAccountResponse.java
  backend/src/main/java/com/prograngers/backend/dto/member/response/ShowMemberProfileResponse.java
  backend/src/main/java/com/prograngers/backend/dto/member/response/ShowSocialMemberAccountResponse.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/SolutionForLikeResponse.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/SolutionForListResponse.java
  backend/src/main/java/com/prograngers/backend/entity/member/Member.java
  backend/src/main/java/com/prograngers/backend/entity/solution/Solution.java
  backend/src/main/java/com/prograngers/backend/service/MemberService.java
Labels: 🐞 bug, ➕ feat, 🌞 backend

#190 [REFACTOR] DTO 필드명 수정
  backend/src/main/java/com/prograngers/backend/dto/comment/response/AuthorResponse.java
  backend/src/main/java/com/prograngers/backend/dto/comment/response/CommentResponse.java
  backend/src/main/java/com/prograngers/backend/dto/comment/response/SolutionWithProblemResponse.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/ShowMyLikeSolutionsResponse.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/ShowMySolutionListResponse.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/SolutionForListResponse.java
Labels: ♻ refactor, 🌞 backend

#189 [FIX] 각종 버그 수정
  backend/src/main/java/com/prograngers/backend/exception/ErrorCode.java
  backend/src/main/java/com/prograngers/backend/exception/badrequest/DifferentCodeLineNumberException.java
  backend/src/main/java/com/prograngers/backend/exception/badrequest/DifferentSolutionException.java
  backend/src/main/java/com/prograngers/backend/exception/badrequest/InvalidCodeLIneNumberException.java
  backend/src/main/java/com/prograngers/backend/exception/badrequest/InvalidParentException.java
  backend/src/main/java/com/prograngers/backend/repository/comment/CommentRepository.java
  backend/src/main/java/com/prograngers/backend/repository/review/ReviewRepository.java
  backend/src/main/java/com/prograngers/backend/service/CommentService.java
  backend/src/main/java/com/prograngers/backend/service/ReviewService.java
  backend/src/main/java/com/prograngers/backend/service/SolutionService.java
Labels: 🐞 bug, 🌞 backend

#191 [RELEASE] 스프린트 7 1차 배포
  backend/src/main/java/com/prograngers/backend/controller/CommentController.java
  backend/src/main/java/com/prograngers/backend/controller/DashBoardController.java
  backend/src/main/java/com/prograngers/backend/controller/FollowController.java
  backend/src/main/java/com/prograngers/backend/controller/LikesController.java
  backend/src/main/java/com/prograngers/backend/controller/MemberController.java
  backend/src/main/java/com/prograngers/backend/controller/SolutionController.java
  backend/src/main/java/com/prograngers/backend/dto/comment/response/AuthorResponse.java
  backend/src/main/java/com/prograngers/backend/dto/comment/response/CommentResponse.java
  backend/src/main/java/com/prograngers/backend/dto/comment/response/SolutionWithProblemResponse.java
  backend/src/main/java/com/prograngers/backend/dto/member/response/ShowBasicMemberAccountResponse.java
  backend/src/main/java/com/prograngers/backend/dto/member/response/ShowMemberAccountResponse.java
  backend/src/main/java/com/prograngers/backend/dto/member/response/ShowMemberProfileResponse.java
  backend/src/main/java/com/prograngers/backend/dto/member/response/ShowSocialMemberAccountResponse.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/ShowMyLikeSolutionsResponse.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/ShowMySolutionListResponse.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/SolutionForLikeResponse.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/SolutionForListResponse.java
  backend/src/main/java/com/prograngers/backend/entity/member/Member.java
  backend/src/main/java/com/prograngers/backend/entity/solution/Solution.java
  backend/src/main/java/com/prograngers/backend/exception/ErrorCode.java
  backend/src/main/java/com/prograngers/backend/exception/badrequest/DifferentCodeLineNumberException.java
  backend/src/main/java/com/prograngers/backend/exception/badrequest/DifferentSolutionException.java
  backend/src/main/java/com/prograngers/backend/exception/badrequest/InvalidCodeLIneNumberException.java
  backend/src/main/java/com/prograngers/backend/exception/badrequest/InvalidParentException.java
  backend/src/main/java/com/prograngers/backend/repository/comment/CommentRepository.java
  backend/src/main/java/com/prograngers/backend/repository/review/ReviewRepository.java
  backend/src/main/java/com/prograngers/backend/service/CommentService.java
  backend/src/main/java/com/prograngers/backend/service/MemberService.java
  backend/src/main/java/com/prograngers/backend/service/ReviewService.java
  backend/src/main/java/com/prograngers/backend/service/SolutionService.java
  frontend/Prog-rangers-main/src/App.js
  frontend/Prog-rangers-main/src/assets/icons/solution-filled-star.svg
  frontend/Prog-rangers-main/src/assets/icons/solution-private.svg
  frontend/Prog-rangers-main/src/assets/icons/solution-public.svg
  frontend/Prog-rangers-main/src/assets/icons/solution-tag-delete.svg
  frontend/Prog-rangers-main/src/assets/icons/solution-unfilled-star.svg
  frontend/Prog-rangers-main/src/components/FilterBar/FilterBar.jsx
  frontend/Prog-rangers-main/src/components/FilterBar/FilterBox.js
  frontend/Prog-rangers-main/src/components/Header/Header.jsx
  frontend/Prog-rangers-main/src/components/Question/tagsform.js
  frontend/Prog-rangers-main/src/components/SignUp/ForSignUp.jsx
  frontend/Prog-rangers-main/src/components/WriteBoard/AddMySolution.jsx
  frontend/Prog-rangers-main/src/components/WriteBoard/EditMySolution.jsx
  frontend/Prog-rangers-main/src/components/WriteBoard/Register.jsx
  frontend/Prog-rangers-main/src/components/WriteBoard/ScrapBoard.jsx
  frontend/Prog-rangers-main/src/components/WriteBoard/TagAction.jsx
  frontend/Prog-rangers-main/src/components/WriteBoard/index.js
  frontend/Prog-rangers-main/src/components/WriteBoard/inputBox.js
  frontend/Prog-rangers-main/src/context/SearchContext.js
  frontend/Prog-rangers-main/src/index.js
  frontend/Prog-rangers-main/src/pages/Auth/SignIn.jsx
  frontend/Prog-rangers-main/src/pages/BoardPage/AddSolution.jsx
  frontend/Prog-rangers-main/src/pages/BoardPage/EditSolution.jsx
  frontend/Prog-rangers-main/src/pages/BoardPage/Scrap.jsx
  frontend/Prog-rangers-main/src/pages/BoardPage/WriteSolution.jsx
  frontend/Prog-rangers-main/src/pages/BoardPage/buttonDiv.js
  frontend/Prog-rangers-main/src/pages/BoardPage/index.js
  frontend/Prog-rangers-main/src/pages/Problems/Problems.jsx
  frontend/Prog-rangers-main/src/pages/index.js
Labels: ⚙ chore

#195 [FIX] 스프린트 7 1차 배포 버그 수정
  backend/src/main/java/com/prograngers/backend/controller/auth/AuthController.java
  backend/src/main/java/com/prograngers/backend/dto/member/response/ShowMemberAccountResponse.java
Labels: 🐞 bug, 🌞 backend

#197 [FEAT] 응답 DTO에 언어 필드 추가
  backend/build.gradle
  backend/src/main/java/com/prograngers/backend/controller/MemberController.java
  backend/src/main/java/com/prograngers/backend/controller/auth/AuthController.java
  backend/src/main/java/com/prograngers/backend/dto/member/response/ShowBasicMemberAccountResponse.java
  backend/src/main/java/com/prograngers/backend/dto/member/response/ShowMemberAccountResponse.java
  backend/src/main/java/com/prograngers/backend/dto/member/response/ShowMemberProfileResponse.java
  backend/src/main/java/com/prograngers/backend/dto/member/response/ShowSocialMemberAccountResponse.java
  backend/src/main/java/com/prograngers/backend/dto/member/response/SolutionWithProblemResponse.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/SolutionResponse.java
Labels: ➕ feat, 🌞 backend

#198 [FEAT] 프로필 풀이에 언어 추가
  backend/src/main/java/com/prograngers/backend/dto/member/response/ShowMemberAccountResponse.java
  backend/src/main/java/com/prograngers/backend/dto/member/response/ShowMemberProfileResponse.java
  backend/src/main/java/com/prograngers/backend/dto/member/response/SolutionWithProblemResponse.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/SolutionResponse.java
Labels: ➕ feat, 🌞 backend

#200 [FEAT] 타인 프로필 보기에서 풀이 ID도 주도록 수정
  backend/src/main/java/com/prograngers/backend/dto/member/response/SolutionWithProblemResponse.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/ShowSolutionUpdateFormResponse.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/SolutionForProfileResponse.java
  backend/src/main/java/com/prograngers/backend/entity/solution/Solution.java
Labels: ➕ feat, 🌞 backend

#201 [RELEASE] 스프린트7 2차 배포
  backend/src/main/java/com/prograngers/backend/dto/member/response/SolutionWithProblemResponse.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/SolutionForProfileResponse.java
  backend/src/main/java/com/prograngers/backend/entity/solution/Solution.java
Labels: 🌞 backend

#206 [FEAT] 팔로우, 계정관리 수정하기, 계정 삭제
  frontend/Prog-rangers-main/src/apis/singup.js
  frontend/Prog-rangers-main/src/components/Comment/CommentForm.jsx
  frontend/Prog-rangers-main/src/components/FilterBar/FilterBar.jsx
  frontend/Prog-rangers-main/src/components/Follow/FollowStyle.js
  frontend/Prog-rangers-main/src/components/Follow/Follower.jsx
  frontend/Prog-rangers-main/src/components/Follow/Following.jsx
  frontend/Prog-rangers-main/src/components/Follow/RecommendFollow.jsx
  frontend/Prog-rangers-main/src/components/Like/LikeList.jsx
  frontend/Prog-rangers-main/src/components/Profile/SolvingList.jsx
  frontend/Prog-rangers-main/src/components/SignIn/DefaultSignInForm.jsx
  frontend/Prog-rangers-main/src/index.js
  frontend/Prog-rangers-main/src/pages/Account/Account.jsx
  frontend/Prog-rangers-main/src/pages/Account/AccountChange.jsx
  frontend/Prog-rangers-main/src/pages/Account/AccountStyle.js
  frontend/Prog-rangers-main/src/pages/Follow.jsx
  frontend/Prog-rangers-main/src/pages/Follow/Follow.jsx
  frontend/Prog-rangers-main/src/pages/Follow/MainStyle.js
  frontend/Prog-rangers-main/src/pages/Problems/Problems.jsx
  frontend/Prog-rangers-main/src/pages/Profile/Profile.jsx
  frontend/Prog-rangers-main/src/pages/index.js
Labels: ➕ feat, 🌝 frontend

#209 [BUG] 리뷰 수정 버그 수정
  backend/src/main/java/com/prograngers/backend/dto/review/request/UpdateReviewRequest.java
Labels: 🐞 bug, 🌞 backend

#214 Feat/185-헤더-수정
  .DS_Store
  frontend/.DS_Store
  frontend/Prog-rangers-main/src/assets/default-profile.png
  frontend/Prog-rangers-main/src/components/Header/AfterLoginNav.jsx
  frontend/Prog-rangers-main/src/components/Header/Header.jsx
  frontend/Prog-rangers-main/src/components/Header/headerStyle.js
Labels: ➕ feat, 🌝 frontend

#213 [FIX] 계정 탈퇴 관련 버그 수정
  backend/src/main/java/com/prograngers/backend/controller/auth/AuthController.java
  backend/src/main/java/com/prograngers/backend/dto/auth/request/SignUpRequest.java
  backend/src/main/java/com/prograngers/backend/entity/member/Member.java
  backend/src/main/java/com/prograngers/backend/exception/CustomException.java
  backend/src/main/java/com/prograngers/backend/exception/ErrorCode.java
  backend/src/main/java/com/prograngers/backend/exception/badrequest/AlreadyDeletedMemberException.java
  backend/src/main/java/com/prograngers/backend/exception/badrequest/ProhibitionNicknameException.java
  backend/src/main/java/com/prograngers/backend/exception/unauthorization/QuitMemberException.java
  backend/src/main/java/com/prograngers/backend/repository/member/MemberRepository.java
  backend/src/main/java/com/prograngers/backend/service/MemberService.java
  backend/src/main/java/com/prograngers/backend/service/auth/AuthService.java
  backend/src/test/java/com/prograngers/backend/service/auth/AuthServiceTest.java
  backend/src/test/java/com/prograngers/backend/support/fixture/MemberFixture.java
Labels: 🐞 bug, ✅ test, 🌞 backend
