Repository rlfrkdms1/Prog-rangers, pull requests merged in 2024-01, with the labels that each got.

#260 [FEAT] 팔로잉버튼 & 소셜로그인 redirect url
  README.md
  frontend/Prog-rangers-main/README.md
  frontend/Prog-rangers-main/src/components/Follow/RecommendFollow.jsx
  frontend/Prog-rangers-main/src/components/SignUp/OAuth.jsx
  frontend/Prog-rangers-main/src/pages/Profile/Profile.jsx
  frontend/Prog-rangers-main/start
  frontend/Prog-rangers-main/stop
Labels: ➕ feat, ♻ refactor, 🌝 frontend

#261 [RELEASE] 프론트 배포
  README.md
  frontend/Prog-rangers-main/README.md
  frontend/Prog-rangers-main/src/components/Follow/RecommendFollow.jsx
  frontend/Prog-rangers-main/src/components/SignUp/OAuth.jsx
  frontend/Prog-rangers-main/src/pages/Profile/Profile.jsx
  frontend/Prog-rangers-main/start
  frontend/Prog-rangers-main/stop
Labels: 🌝 frontend

#256 [FIX] 내 풀이 상세보기 버그 수정
  backend/src/main/java/com/prograngers/backend/dto/solution/response/MySolutionResponse.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/ProblemResponse.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/SolutionTitleAndIdResponse.java
  backend/src/main/java/com/prograngers/backend/repository/solution/SolutionCustomRepositoryImpl.java
  backend/src/main/java/com/prograngers/backend/repository/solution/SolutionRepository.java
  backend/src/main/java/com/prograngers/backend/service/SolutionService.java
  backend/src/test/java/com/prograngers/backend/repository/solution/SolutionRepositoryTest.java
  backend/src/test/java/com/prograngers/backend/service/SolutionServiceTest.java
Labels: 🐞 bug, 🌞 backend

#258 [FEAT] 타인 프로필 보기에 memberid 추가
  backend/src/main/java/com/prograngers/backend/dto/member/response/ShowMemberProfileResponse.java
Labels: ➕ feat, 🌞 backend

#263 [FIX] #262 풀이쓰기 태그 / 한줄리뷰 기능 수정
  frontend/Prog-rangers-main/src/components/MySolutionDetail/MySolHeader.jsx
  frontend/Prog-rangers-main/src/components/Profile/CodeWindow.jsx
  frontend/Prog-rangers-main/src/components/Profile/CodeWindow2.jsx
  frontend/Prog-rangers-main/src/components/Profile/CodeWindow3.jsx
  frontend/Prog-rangers-main/src/components/Profile/CodeWindow4.jsx
  frontend/Prog-rangers-main/src/components/SolutionDetail/SolutionDetailHeader.jsx
  frontend/Prog-rangers-main/src/components/WriteBoard/AddMySolution.jsx
  frontend/Prog-rangers-main/src/components/WriteBoard/EditMySolution.jsx
  frontend/Prog-rangers-main/src/components/WriteBoard/Register.jsx
  frontend/Prog-rangers-main/src/components/WriteBoard/ScrapBoard.jsx
  frontend/Prog-rangers-main/src/pages/MySolution/MainBody.js
  frontend/Prog-rangers-main/src/pages/MySolution/MySolution.jsx
Labels: 🐞 bug, 🌝 frontend

#266 [FIX] 계정 수정, 대시보드 500 에러 수정
  backend/src/main/java/com/prograngers/backend/dto/member/request/UpdateMemberAccountInfoRequest.java
  backend/src/main/java/com/prograngers/backend/entity/member/Member.java
  backend/src/main/java/com/prograngers/backend/repository/solution/SolutionCustomRepositoryImpl.java
  backend/src/main/resources/db/migration/V1__init.sql
Labels: 🐞 bug, 🌞 backend

#270 [FEAT] 내 풀이 상세보기 응답 dto에 level 필드 추가
  backend/src/main/java/com/prograngers/backend/dto/solution/response/MySolutionResponse.java
Labels: ➕ feat, 🌞 backend

#271 [BUG] 타인 프로필 보기에서 비공개 풀이 보이는 버그 수정
  backend/src/main/java/com/prograngers/backend/repository/solution/SolutionCustomRepositoryImpl.java
Labels: 🐞 bug, 🌞 backend

#272 [Bug] 알고리즘 자료구조 api 형태 통일
  backend/src/main/java/com/prograngers/backend/entity/solution/AlgorithmConstant.java
  backend/src/main/java/com/prograngers/backend/entity/solution/DataStructureConstant.java
  backend/src/main/java/com/prograngers/backend/entity/solution/Solution.java
Labels: 🐞 bug, 🌞 backend

#273 [RELEASE] 10차 스프린트 중간 배포
  backend/src/main/java/com/prograngers/backend/dto/comment/response/SolutionWithProblemResponse.java
  backend/src/main/java/com/prograngers/backend/dto/member/request/UpdateMemberAccountInfoRequest.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/MySolutionResponse.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/ShowSolutionUpdateFormResponse.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/SolutionAtSolutionListResponse.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/SolutionForLikeResponse.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/SolutionForListResponse.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/SolutionForProfileResponse.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/SolutionResponse.java
  backend/src/main/java/com/prograngers/backend/entity/member/Member.java
  backend/src/main/java/com/prograngers/backend/entity/solution/AlgorithmConstant.java
  backend/src/main/java/com/prograngers/backend/entity/solution/DataStructureConstant.java
  backend/src/main/java/com/prograngers/backend/entity/solution/Solution.java
  backend/src/main/java/com/prograngers/backend/repository/solution/SolutionCustomRepositoryImpl.java
  backend/src/main/resources/db/migration/V1__init.sql
  frontend/Prog-rangers-main/public/index.html
Labels: ☁️ infra, 🌞 backend

#277 [FEAT] 내풀이 수정하기, 계정탈퇴, 타인 프로필 팔로우
  frontend/Prog-rangers-main/src/components/FilterBar/FilterBar.jsx
  frontend/Prog-rangers-main/src/components/MySolutionDetail/MySolHeader.jsx
  frontend/Prog-rangers-main/src/components/WriteBoard/EditMySolution.jsx
  frontend/Prog-rangers-main/src/components/WriteBoard/index.js
  frontend/Prog-rangers-main/src/db/autocomplete.json
  frontend/Prog-rangers-main/src/index.js
  frontend/Prog-rangers-main/src/pages/Account/Account.jsx
  frontend/Prog-rangers-main/src/pages/BoardPage/EditSolution.jsx
  frontend/Prog-rangers-main/src/pages/Profile/Profile.jsx
Labels: ➕ feat, 🌝 frontend

#280 [Feat] #274 무한스크롤
  frontend/Prog-rangers-main/src/components/MySolution/MySolutionForm.jsx
  frontend/Prog-rangers-main/src/components/MySolutionDetail/MySolHeader.jsx
  frontend/Prog-rangers-main/src/components/Profile/SolvingList.jsx
  frontend/Prog-rangers-main/src/components/SolutionDetail/SolutionDetailHeader.jsx
  frontend/Prog-rangers-main/src/pages/Profile/Profile.jsx
Labels: ➕ feat, 🌝 frontend

#281 [RELEASE] 스프린트10 프론트엔드 중간 배포
  frontend/Prog-rangers-main/src/components/FilterBar/FilterBar.jsx
  frontend/Prog-rangers-main/src/components/MySolution/MySolutionForm.jsx
  frontend/Prog-rangers-main/src/components/MySolutionDetail/MySolHeader.jsx
  frontend/Prog-rangers-main/src/components/Profile/SolvingList.jsx
  frontend/Prog-rangers-main/src/components/SolutionDetail/SolutionDetailHeader.jsx
  frontend/Prog-rangers-main/src/components/WriteBoard/EditMySolution.jsx
  frontend/Prog-rangers-main/src/components/WriteBoard/index.js
  frontend/Prog-rangers-main/src/db/autocomplete.json
  frontend/Prog-rangers-main/src/index.js
  frontend/Prog-rangers-main/src/pages/Account/Account.jsx
  frontend/Prog-rangers-main/src/pages/BoardPage/EditSolution.jsx
  frontend/Prog-rangers-main/src/pages/Profile/Profile.jsx
Labels: 🌝 frontend

#285 FEAT: 풀이 상세보기 응답 DTO에 필드 추가
  backend/src/main/java/com/prograngers/backend/dto/solution/response/SolutionResponse.java
Labels: ➕ feat, 🌞 backend

#289 [FIX] 마이페이지&팔로우 오류 수정
  frontend/Prog-rangers-main/public/index.html
  frontend/Prog-rangers-main/src/components/Like/LikeList.jsx
  frontend/Prog-rangers-main/src/components/SignUp/SignUpForm.jsx
  frontend/Prog-rangers-main/src/components/SignUp/signUpPage.js
  frontend/Prog-rangers-main/src/components/WriteBoard/EditMySolution.jsx
  frontend/Prog-rangers-main/src/pages/Account/AccountChange.jsx
  frontend/Prog-rangers-main/src/pages/Profile/Profile.jsx
Labels: ➕ feat, ♻ refactor, 🌝 frontend

#291 [FIX[ #282 댓글, 한줄리뷰 위주 오류
  frontend/Prog-rangers-main/src/components/MySolutionDetail/MyComments.jsx
  frontend/Prog-rangers-main/src/components/MySolutionDetail/MyLineReview.jsx
  frontend/Prog-rangers-main/src/components/MySolutionDetail/MySolHeader.jsx
  frontend/Prog-rangers-main/src/components/MySolutionDetail/MySolView.jsx
  frontend/Prog-rangers-main/src/components/Profile/CodeWindow2.jsx
  frontend/Prog-rangers-main/src/components/Profile/CodeWindow3.jsx
  frontend/Prog-rangers-main/src/components/Profile/CodeWindow4.jsx
  frontend/Prog-rangers-main/src/components/Profile/CodeWindow5.jsx
  frontend/Prog-rangers-main/src/components/Profile/SolvingList.jsx
  frontend/Prog-rangers-main/src/components/Profile/index.js
  frontend/Prog-rangers-main/src/components/SolutionDetail/CommentForm.jsx
  frontend/Prog-rangers-main/src/components/SolutionDetail/CommentList.jsx
  frontend/Prog-rangers-main/src/components/SolutionDetail/Comments.jsx
  frontend/Prog-rangers-main/src/components/SolutionDetail/Indicators.jsx
  frontend/Prog-rangers-main/src/components/SolutionDetail/LineReview.jsx
  frontend/Prog-rangers-main/src/components/SolutionDetail/SolutionDetailHeader.jsx
  frontend/Prog-rangers-main/src/components/SolutionDetail/commentsStyle.js
  frontend/Prog-rangers-main/src/components/WriteBoard/AddMySolution.jsx
  frontend/Prog-rangers-main/src/components/WriteBoard/ScrapBoard.jsx
  frontend/Prog-rangers-main/src/pages/MyComment.jsx
  frontend/Prog-rangers-main/src/pages/MyPage/MyPage.jsx
  frontend/Prog-rangers-main/src/pages/Profile/Profile.jsx
Labels: 🐞 bug, ➕ feat, 🌝 frontend

#287 [REFACTOR] dto 리팩터링
  backend/src/main/java/com/prograngers/backend/dto/solution/reqeust/ScarpSolutionRequest.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/SolutionForListResponse.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/SolutionResponse.java
Labels: ♻ refactor

#295 [FIX]251-frontend error fix
  .DS_Store
  backend/src/main/java/com/prograngers/backend/dto/solution/response/SolutionResponse.java
  frontend/.DS_Store
  frontend/Prog-rangers-main/src/assets/badge/badge-flower-pixel.png
  frontend/Prog-rangers-main/src/assets/badge/badge-flowerbed-pixel.png
  frontend/Prog-rangers-main/src/assets/badge/bud-pixel.png
  frontend/Prog-rangers-main/src/assets/badge/field.png
  frontend/Prog-rangers-main/src/assets/badge/plant-pixel.png
  frontend/Prog-rangers-main/src/assets/badge/stem-and-leaf-pixel.png
  frontend/Prog-rangers-main/src/components/FilterBar/FilterBar.jsx
  frontend/Prog-rangers-main/src/components/Header/Header.jsx
  frontend/Prog-rangers-main/src/components/Like/LikeList.jsx
  frontend/Prog-rangers-main/src/components/MySolutionDetail/MyComments.jsx
  frontend/Prog-rangers-main/src/components/MySolutionDetail/MyLineReview.jsx
  frontend/Prog-rangers-main/src/components/MySolutionDetail/MySolHeader.jsx
  frontend/Prog-rangers-main/src/components/MySolutionDetail/MySolView.jsx
  frontend/Prog-rangers-main/src/components/Profile/CodeWindow2.jsx
  frontend/Prog-rangers-main/src/components/Profile/CodeWindow3.jsx
  frontend/Prog-rangers-main/src/components/Profile/CodeWindow4.jsx
  frontend/Prog-rangers-main/src/components/Profile/CodeWindow5.jsx
  frontend/Prog-rangers-main/src/components/Profile/SolvingList.jsx
  frontend/Prog-rangers-main/src/components/Profile/index.js
  frontend/Prog-rangers-main/src/components/SignUp/SignUpForm.jsx
  frontend/Prog-rangers-main/src/components/SignUp/signUpPage.js
  frontend/Prog-rangers-main/src/components/SolutionDetail/CommentForm.jsx
  frontend/Prog-rangers-main/src/components/SolutionDetail/CommentList.jsx
  frontend/Prog-rangers-main/src/components/SolutionDetail/Comments.jsx
  frontend/Prog-rangers-main/src/components/SolutionDetail/Indicators.jsx
  frontend/Prog-rangers-main/src/components/SolutionDetail/LineReview.jsx
  frontend/Prog-rangers-main/src/components/SolutionDetail/SolutionDetailHeader.jsx
  frontend/Prog-rangers-main/src/components/SolutionDetail/commentsStyle.js
  frontend/Prog-rangers-main/src/components/WriteBoard/AddMySolution.jsx
  frontend/Prog-rangers-main/src/components/WriteBoard/EditMySolution.jsx
  frontend/Prog-rangers-main/src/components/WriteBoard/ScrapBoard.jsx
  frontend/Prog-rangers-main/src/index.css
  frontend/Prog-rangers-main/src/pages/Account/AccountChange.jsx
  frontend/Prog-rangers-main/src/pages/MyComment.jsx
  frontend/Prog-rangers-main/src/pages/MyPage/MyPage.jsx
  frontend/Prog-rangers-main/src/pages/Problems/Problems.jsx
  frontend/Prog-rangers-main/src/pages/Profile/Profile.jsx
Labels: 🐞 bug, 🎨 UI, 🌝 frontend

#279 [FEAT] Pageable Resolver 추가
  backend/src/main/java/com/prograngers/backend/config/WebConfig.java
  backend/src/main/java/com/prograngers/backend/controller/CommentController.java
  backend/src/main/java/com/prograngers/backend/controller/CustomPageableArgumentResolver.java
  backend/src/main/java/com/prograngers/backend/controller/LikesController.java
  backend/src/main/java/com/prograngers/backend/controller/NotificationController.java
  backend/src/main/java/com/prograngers/backend/controller/ProblemController.java
  backend/src/main/java/com/prograngers/backend/controller/SolutionController.java
  backend/src/main/java/com/prograngers/backend/entity/member/Member.java
  backend/src/main/java/com/prograngers/backend/exception/badrequest/invalidvalue/InvalidPageSizeException.java
  backend/src/main/java/com/prograngers/backend/exception/badrequest/invalidvalue/PageNumberUnderZeroException.java
  backend/src/main/java/com/prograngers/backend/exception/badrequest/invalidvalue/PageSizeOverMaxException.java
  backend/src/main/java/com/prograngers/backend/exception/errorcode/CommonErrorCode.java
  backend/src/main/java/com/prograngers/backend/service/CommentService.java
  backend/src/main/java/com/prograngers/backend/service/NotificationService.java
  backend/src/main/java/com/prograngers/backend/service/SolutionService.java
Labels: ➕ feat, 🌞 backend

#294 [FEAT/FIX] 캘린더 반환 컨트롤러 추가, 비밀번호 수정시각 오류 수정
  backend/src/main/java/com/prograngers/backend/controller/DashBoardController.java
  backend/src/main/java/com/prograngers/backend/dto/dashboard/response/ShowCalendarResponse.java
  backend/src/main/java/com/prograngers/backend/dto/notification/response/NotificationResponse.java
  backend/src/main/java/com/prograngers/backend/exception/badrequest/invalidvalue/InvalidPageSizeException.java
  backend/src/main/java/com/prograngers/backend/exception/badrequest/invalidvalue/SelfFollowException.java
  backend/src/main/java/com/prograngers/backend/exception/errorcode/CommonErrorCode.java
  backend/src/main/java/com/prograngers/backend/exception/errorcode/FollowErrorCode.java
  backend/src/main/java/com/prograngers/backend/repository/notification/CachedEventRepository.java
  backend/src/main/java/com/prograngers/backend/repository/solution/SolutionRepository.java
  backend/src/main/java/com/prograngers/backend/service/CommentService.java
  backend/src/main/java/com/prograngers/backend/service/DashBoardService.java
  backend/src/main/java/com/prograngers/backend/service/FollowService.java
  backend/src/main/java/com/prograngers/backend/service/NotificationService.java
Labels: 🐞 bug, ➕ feat, 🌞 backend

#300 [FEAT] 댓글, 리뷰 삭제 방식 변경
  backend/src/main/java/com/prograngers/backend/dto/comment/request/WriteCommentRequest.java
  backend/src/main/java/com/prograngers/backend/dto/comment/response/CommentResponse.java
  backend/src/main/java/com/prograngers/backend/dto/member/response/ShowBasicMemberAccountResponse.java
  backend/src/main/java/com/prograngers/backend/dto/review/request/WriteReviewRequest.java
  backend/src/main/java/com/prograngers/backend/dto/review/response/ReplyResponse.java
  backend/src/main/java/com/prograngers/backend/dto/review/response/ReviewWithRepliesResponse.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/CommentWithRepliesResponse.java
  backend/src/main/java/com/prograngers/backend/dto/solution/response/SolutionDetailComment.java
  backend/src/main/java/com/prograngers/backend/entity/comment/Comment.java
  backend/src/main/java/com/prograngers/backend/entity/comment/CommentStatusConstant.java
  backend/src/main/java/com/prograngers/backend/entity/review/Review.java
  backend/src/main/java/com/prograngers/backend/entity/review/ReviewStatusConstant.java
  backend/src/main/java/com/prograngers/backend/repository/comment/CommentRepository.java
  backend/src/main/java/com/prograngers/backend/repository/review/ReviewRepository.java
  backend/src/main/java/com/prograngers/backend/service/CommentService.java
  backend/src/main/java/com/prograngers/backend/service/ReviewService.java
  backend/src/main/resources/db/migration/V1__init.sql
  backend/src/test/java/com/prograngers/backend/support/fixture/CommentFixture.java
  backend/src/test/java/com/prograngers/backend/support/fixture/ReviewFixture.java
Labels: ➕ feat, 🌞 backend
