Repository rlfrkdms1/Prog-rangers, pull requests merged in 2024-02, with the labels that each got.

#307 [FEAT] 스크랩 관련 기능
  .DS_Store
  frontend/Prog-rangers-main/src/assets/badge/badge-flower-pixel.png
  frontend/Prog-rangers-main/src/assets/badge/badge-flowerbed-pixel.png
  frontend/Prog-rangers-main/src/assets/badge/bud-pixel.png
  frontend/Prog-rangers-main/src/assets/badge/field.png
  frontend/Prog-rangers-main/src/assets/badge/plant-pixel.png
  frontend/Prog-rangers-main/src/assets/badge/stem-and-leaf-pixel.png
  frontend/Prog-rangers-main/src/components/FilterBar/FilterBar.jsx
  frontend/Prog-rangers-main/src/components/Header/Header.jsx
  frontend/Prog-rangers-main/src/components/Like/LikeList.jsx
  frontend/Prog-rangers-main/src/components/WriteBoard/ScrapBoard.jsx
  frontend/Prog-rangers-main/src/index.css
  frontend/Prog-rangers-main/src/pages/Account/Account.jsx
  frontend/Prog-rangers-main/src/pages/Problems/Problems.jsx
  frontend/Prog-rangers-main/src/pages/Profile/Profile.jsx
Labels: ➕ feat, 🌝 frontend

#308 [FIX] #298 댓글,한줄리뷰 세부 오류
  frontend/Prog-rangers-main/src/components/MySolutionDetail/MyComments.jsx
  frontend/Prog-rangers-main/src/components/MySolutionDetail/MyIndicators.jsx
  frontend/Prog-rangers-main/src/components/MySolutionDetail/MyLineReview.jsx
  frontend/Prog-rangers-main/src/components/MySolutionDetail/MySolHeader.jsx
  frontend/Prog-rangers-main/src/components/MySolutionDetail/MySolView.jsx
  frontend/Prog-rangers-main/src/components/MySolutionDetail/Recommand.jsx
  frontend/Prog-rangers-main/src/components/MySolutionDetail/RightBar.jsx
  frontend/Prog-rangers-main/src/components/Profile/CodeWindow3.jsx
  frontend/Prog-rangers-main/src/components/Profile/CodeWindow4.jsx
  frontend/Prog-rangers-main/src/components/SolutionDetail/CommentList.jsx
  frontend/Prog-rangers-main/src/components/SolutionDetail/Comments.jsx
  frontend/Prog-rangers-main/src/components/SolutionDetail/Indicators.jsx
  frontend/Prog-rangers-main/src/pages/MyPage/MyPage.jsx
  frontend/Prog-rangers-main/src/pages/MyPage/MyPageStyle.js
  frontend/Prog-rangers-main/src/pages/MySolutionDetail.jsx
  frontend/Prog-rangers-main/src/pages/Profile/Profile.jsx
  frontend/Prog-rangers-main/src/pages/Profile/ProfileStyle.js
Labels: 🐞 bug, ➕ feat, 🌝 frontend

#310 [DOCS] README 작성
  README.md
Labels: 📃 docs

#317 [FEAT] 마이페이지 내댓글, 좋아요 무한스크롤
  frontend/Prog-rangers-main/package.json
  frontend/Prog-rangers-main/src/components/Comment/CommentForm.jsx
  frontend/Prog-rangers-main/src/components/Like/LikeList.jsx
  frontend/Prog-rangers-main/yarn.lock
Labels: ➕ feat, 🌝 frontend

#311 [TEST] MemberService 테스트
  backend/src/main/java/com/prograngers/backend/controller/MemberController.java
  backend/src/main/java/com/prograngers/backend/dto/member/request/UpdateMemberAccountRequest.java
  backend/src/main/java/com/prograngers/backend/dto/member/response/ShowBasicMemberAccountResponse.java
  backend/src/main/java/com/prograngers/backend/entity/member/Member.java
  backend/src/main/java/com/prograngers/backend/service/MemberService.java
  backend/src/test/java/com/prograngers/backend/service/FollowServiceTest.java
  backend/src/test/java/com/prograngers/backend/service/MemberServiceTest.java
  backend/src/test/java/com/prograngers/backend/service/SolutionServiceTest.java
  backend/src/test/java/com/prograngers/backend/support/fixture/MemberFixture.java
Labels: ✅ test, 🌞 backend
